In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import matplotlib 
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

In [ ]:
!pip install dask
!python -m pip install 'fsspec>=0.3.3'
import dask.dataframe as dd

Requirement already satisfied: dask in /usr/local/lib/python3.7/dist-packages (2.12.0)
Requirement already satisfied: fsspec>=0.3.3 in /usr/local/lib/python3.7/dist-packages (2021.8.1)

In [ ]:
import pandas as pd
%time df = pd.read_csv('/content/drive/MyDrive/MNAD-FYP/MachineLearningCVE/Dataset-Analysis/all_data.csv', encoding='utf-8')

In [ ]:
%time df = dd.read_csv("/content/drive/MyDrive/MNAD-FYP/MachineLearningCVE/Dataset-Analysis/all_data.csv")

In [ ]:
df.shape

(2830743, 80)

In [ ]:
# from sklearn.feature_selection import RFE
# from sklearn.linear_model import LogisticRegression
# model = LogisticRegression()
# rfe = RFE(model, 4)
# fit = rfe.fit(X, Y)
# print("Number of Features: %d")
# print("Selected Features: %s")
# print("Feature Ranking: %s")

In [ ]:
# from sklearn.decomposition import PCA
# pca = PCA(n_components=40)
# fit = pca.fit(X)
# print("Explained Variance: %s") % fit.explained_variance_ratio_
# print(fit.components_)

In [ ]:
# print('---------------------------Random Forest CLassifier------------------')
# from sklearn.ensemble import RandomForestClassifier
# model = RandomForestClassifier(n_estimators =15)
# model = model.fit(x_train, y_train)
# rfy_pred = model.predict(x_test)
# acc = metrics.accuracy_score(y_test, y_pred)
# print(model.score(x_test,y_test))

In [ ]:
# attributes = list(x_train)
# sorted(zip(model.feature_importances_, attributes), reverse=True)

In [ ]:
!pip install h5py

In [ ]:
# Save to HDF5
df.to_hdf(filename, 'data', mode='w', format='table')
del df

In [ ]:
filename = '/content/drive/MyDrive/MNAD-FYP/MachineLearningCVE/Dataset-Analysis/test_data.h5'

In [ ]:

# print(pd.read_hdf(filename, 'data'))
%time df = dd.read_hdf(filename, 'data')

In [ ]:
%time df = pd.read_hdf(filename, 'data')

CPU times: user 6.15 s, sys: 2.15 s, total: 8.3 s
Wall time: 54.9 s

In [ ]:
# # df.head(10)
# df.shape
df.info()
df.columns[0]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2830743 entries, 0 to 2830742
Data columns (total 79 columns):
 #   Column                        Dtype
---  ------                        -----
 0    Destination Port             int64
 1    Flow Duration                int64
 2    Total Fwd Packets            int64
 3    Total Backward Packets       int64
 4   Total Length of Fwd Packets   int64
 5    Total Length of Bwd Packets  int64
 6    Fwd Packet Length Max        int64
 7    Fwd Packet Length Min        int64
 8    Fwd Packet Length Mean       float64
 9    Fwd Packet Length Std        float64
 10  Bwd Packet Length Max         int64
 11   Bwd Packet Length Min        int64
 12   Bwd Packet Length Mean       float64
 13   Bwd Packet Length Std        float64
 14  Flow Bytes/s                  float64
 15   Flow Packets/s               float64
 16   Flow IAT Mean                float64
 17   Flow IAT Std                 float64
 18   Flow IAT Max                 int64
 19   Flow IAT Min                 int64
 20  Fwd IAT Total                 int64
 21   Fwd IAT Mean                 float64
 22   Fwd IAT Std                  float64
 23   Fwd IAT Max                  int64
 24   Fwd IAT Min                  int64
 25  Bwd IAT Total                 int64
 26   Bwd IAT Mean                 float64
 27   Bwd IAT Std                  float64
 28   Bwd IAT Max                  int64
 29   Bwd IAT Min                  int64
 30  Fwd PSH Flags                 int64
 31   Bwd PSH Flags                int64
 32   Fwd URG Flags                int64
 33   Bwd URG Flags                int64
 34   Fwd Header Length            int64
 35   Bwd Header Length            int64
 36  Fwd Packets/s                 float64
 37   Bwd Packets/s                float64
 38   Min Packet Length            int64
 39   Max Packet Length            int64
 40   Packet Length Mean           float64
 41   Packet Length Std            float64
 42   Packet Length Variance       float64
 43  FIN Flag Count                int64
 44   SYN Flag Count               int64
 45   RST Flag Count               int64
 46   PSH Flag Count               int64
 47   ACK Flag Count               int64
 48   URG Flag Count               int64
 49   CWE Flag Count               int64
 50   ECE Flag Count               int64
 51   Down/Up Ratio                int64
 52   Average Packet Size          float64
 53   Avg Fwd Segment Size         float64
 54   Avg Bwd Segment Size         float64
 55   Fwd Header Length.1          int64
 56  Fwd Avg Bytes/Bulk            int64
 57   Fwd Avg Packets/Bulk         int64
 58   Fwd Avg Bulk Rate            int64
 59   Bwd Avg Bytes/Bulk           int64
 60   Bwd Avg Packets/Bulk         int64
 61  Bwd Avg Bulk Rate             int64
 62  Subflow Fwd Packets           int64
 63   Subflow Fwd Bytes            int64
 64   Subflow Bwd Packets          int64
 65   Subflow Bwd Bytes            int64
 66  Init_Win_bytes_forward        int64
 67   Init_Win_bytes_backward      int64
 68   act_data_pkt_fwd             int64
 69   min_seg_size_forward         int64
 70  Active Mean                   float64
 71   Active Std                   float64
 72   Active Max                   int64
 73   Active Min                   int64
 74  Idle Mean                     float64
 75   Idle Std                     float64
 76   Idle Max                     int64
 77   Idle Min                     int64
 78   Label                        object
dtypes: float64(24), int64(54), object(1)
memory usage: 1.7+ GB

' Destination Port'

In [ ]:
df.shape

(2830743, 79)

In [ ]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)
  
# Dropping all the rows with nan values
df.dropna(inplace=True)

In [ ]:
ll = []
for i in df.columns:
  ll.append(i)

In [ ]:
ll
# print(len(ll))

[' Destination Port',
 ' Flow Duration',
 ' Total Fwd Packets',
 ' Total Backward Packets',
 'Total Length of Fwd Packets',
 ' Fwd Packet Length Max',
 ' Fwd Packet Length Min',
 ' Fwd Packet Length Mean',
 ' Fwd Packet Length Std',
 'Bwd Packet Length Max',
 ' Bwd Packet Length Min',
 ' Bwd Packet Length Mean',
 ' Bwd Packet Length Std',
 'Flow Bytes/s',
 ' Flow Packets/s',
 ' Flow IAT Mean',
 ' Flow IAT Std',
 ' Flow IAT Max',
 ' Flow IAT Min',
 'Fwd IAT Total',
 ' Fwd IAT Mean',
 ' Fwd IAT Std',
 ' Fwd IAT Max',
 ' Fwd IAT Min',
 'Bwd IAT Total',
 ' Bwd IAT Max',
 'Fwd PSH Flags',
 ' Fwd Header Length',
 ' Bwd Header Length',
 'Fwd Packets/s',
 ' Min Packet Length',
 ' Max Packet Length',
 ' Packet Length Mean',
 ' Packet Length Std',
 ' Packet Length Variance',
 'FIN Flag Count',
 ' PSH Flag Count',
 ' ACK Flag Count',
 ' URG Flag Count',
 ' Average Packet Size',
 ' Avg Fwd Segment Size',
 ' Avg Bwd Segment Size',
 ' Fwd Header Length.1',
 'Subflow Fwd Packets',
 ' Subflow Fwd Bytes',
 ' Subflow Bwd Packets',
 ' Subflow Bwd Bytes',
 'Init_Win_bytes_forward',
 ' Init_Win_bytes_backward',
 ' act_data_pkt_fwd',
 ' min_seg_size_forward',
 'Idle Mean',
 ' Idle Std',
 ' Idle Max',
 ' Idle Min',
 ' Label']

In [ ]:
# -------------------changing datatypes

def check_size_dtypes(df):
  max = df.max()
  print(max, 'max')

  min = df.min()
  print(min, 'min')
  # print(df.value_counts())
  var1 = df.memory_usage(index=False, deep=True)
  print(var1,'This is the memory usage')
  print(df.sample(20))


def convert_datatypes(df,a):
  print('Trying to convert datatypes for less memory usage')
  max = df.max()
  print(max, 'max')

  min = df.min()
  print(min, 'min')

  # print(df.value_counts())

  var1 = df.memory_usage(index=False, deep=True)
  print(var1, 'memory usage')
  df = df.astype(a)
  var2 = df.memory_usage(index=False, deep=True)
  print(var2, ' new memory usage| the difference -> ', var1 / var2)
  return df

def normalize(df):
  normalized_df=((df-df.min())/(df.max()-df.min())) * 100
  return normalized_df

In [ ]:
print('--------Destination Port---------------')
check_size_dtypes(df[' Destination Port'])

--------Destination Port---------------
100.0 max
0.0 min
22623008 This is the memory usage
790745     83.654533
1039062     0.080873
84655       0.122072
1281560    73.635460
60355      29.520103
2768931     0.080873
2277763     0.122072
2387607     0.122072
696559      0.675975
2246245     0.122072
997863      0.122072
1389481     0.895705
1903282     0.675975
2686883     0.080873
2402609     0.122072
664538      0.122072
354017      3.155566
1625457     0.675975
2291714     0.122072
1001845     0.080873
Name:  Destination Port, dtype: float64

In [ ]:
# convert_datatypes(df[' Destination Port'])
df[' Destination Port'] = convert_datatypes(df[' Destination Port'], 'float32')

Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0

In [ ]:
 df[' Destination Port'] = normalize(df[' Destination Port'])

In [ ]:
# obv.sample(10)
print(df[' Destination Port'].memory_usage(index=False, deep=True), 'memory usage')

22623008 memory usage

In [ ]:
df[' Destination Port'].max()

100.0

In [ ]:
print('-----------flow duration dtype change-------------')
# ----------------------------------------------------
# ----------
# ----------------------------------------------')

-----------flow duration dtype change-------------

In [ ]:
 check_size_dtypes(df[' Flow Duration']) #df[' Flow Duration'] = 
# check_size_dtypes(obv)

100.0 max
0.0 min
11311504 This is the memory usage
1216076     0.000037
2083392     9.854185
899003      0.000060
2764033     0.000040
1003800     0.000014
988070      0.000227
1567779     0.000503
2018055     0.000107
2489131     9.431383
784329      0.026037
1428903     0.000027
231783      0.020008
1373151     0.000105
1247414     0.000065
535041      0.115201
1552695    96.493073
1064901     0.000200
1775136     0.169825
1836664     0.041492
1010830     5.009617
Name:  Flow Duration, dtype: float32

In [ ]:
df[' Flow Duration'].sample(10)
df[' Flow Duration'].max()

100.0

In [ ]:
df[' Flow Duration'] = normalize(df[' Flow Duration'])

In [ ]:
df[' Flow Duration'] = convert_datatypes(df[' Flow Duration'], 'float32')
# convert_datatypes(df[obv], 'int8')

Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0

In [ ]:
print('---------changing total fwd packets dtype----')

---------changing total fwd packets dtype----

In [ ]:
print(check_size_dtypes(df[' Total Fwd Packets']))
# check_size_dtypes(obv)
df[' Total Fwd Packets'].sample(10)
df[' Total Fwd Packets'].max()

219759 max
1 min
11311504 This is the memory usage
2219978      4
2155438      3
2572998      2
670078       1
1586429    133
2575291      2
1146783      2
1623238      2
2218585      8
932363       1
1657580      1
303507       1
218457       1
1742297      3
1306740      1
1295392      2
2121441      1
465107       5
708664      10
896866       1
Name:  Total Fwd Packets, dtype: int32
None

219759

In [ ]:
 df[' Total Fwd Packets'] = convert_datatypes(df[' Total Fwd Packets'], 'int32')

Trying to convert datatypes for less memory usage
219759 max
1 min
11311504 memory usage
11311504  new memory usage| the difference ->  1.0

In [ ]:
type(df[' Total Fwd Packets'][1111])
# del obv

numpy.int32

In [ ]:
print('---------------------changing total backward packets datatype------------------')
print(df[' Total Backward Packets'].sample(10))
df[' Total Backward Packets'].max()

---------------------changing total backward packets datatype------------------
2615601     0
2409725     7
2267674     0
683656     15
2501323     0
158391      0
156514      5
2053489     2
845178      5
1221133     2
Name:  Total Backward Packets, dtype: int32

291922

In [ ]:
check_size_dtypes(df[' Total Backward Packets'])
df[' Total Backward Packets'] = convert_datatypes(df[' Total Backward Packets'], 'int32')

291922 max
0 min
11311504 This is the memory usage
299699     16
1040939     2
106558      6
1995718     1
2151367    27
2431518     4
1968707     1
1366761     2
265741      2
1455138     3
1606614     1
312128      2
1144758     1
129849      2
1402404     0
2597140     4
671492      1
382855      1
2786156    11
2760754     2
Name:  Total Backward Packets, dtype: int32
Trying to convert datatypes for less memory usage
291922 max
0 min
11311504 memory usage
11311504  new memory usage| the difference ->  1.0

In [ ]:
ll

In [ ]:
df['Total Length of Fwd Packets'].sample(10)
df['Total Length of Fwd Packets'].max()

12900000

In [ ]:
# check_size_dtypes(df['Total Length of Fwd Packets'])
df[' Fwd Packet Length Max'] = convert_datatypes(df[' Fwd Packet Length Max'], 'int32')

Trying to convert datatypes for less memory usage
24820 max
0 min
11311504 memory usage
11311504  new memory usage| the difference ->  1.0

In [ ]:
# df[' Fwd Packet Length Max'].sample(10)
# df[' Fwd Packet Length Max'].max()
check_size_dtypes(df[' Fwd Packet Length Max'])

24820 max
0 min
11311504 This is the memory usage
2591616      6
150454      20
720593      56
1255862     43
1089410     48
896941       0
562429       6
1407676     31
1424424      2
548347     189
290177      57
2611957      6
2565631      6
10553      709
2293909    332
2354909    349
1879341    414
1233570    197
448473       6
2457327    192
Name:  Fwd Packet Length Max, dtype: int32

In [ ]:

def print_title(a):  
  for i in range(5):
    print('---------------',a,'-----------------')
print_title('Fwd Packet Length Min')

--------------- Fwd Packet Length Min -----------------
--------------- Fwd Packet Length Min -----------------
--------------- Fwd Packet Length Min -----------------
--------------- Fwd Packet Length Min -----------------
--------------- Fwd Packet Length Min -----------------

In [ ]:
check_size_dtypes(df[' Fwd Packet Length Min'])

2325 max
0 min
5655752 This is the memory usage
72841       6
2476859     0
482204     52
1608289    80
2363261     0
1482207     0
2631454    46
1153117     6
1385112     2
11641       0
357098      2
866941      0
1162537    39
1014308    35
2457079     6
739731     48
2326557     6
1205658    45
2060045    43
2136242    41
Name:  Fwd Packet Length Min, dtype: int16

In [ ]:
check_size_dtypes(df[' Fwd Packet Length Min'])
df[' Fwd Packet Length Min'] = convert_datatypes(df[' Fwd Packet Length Min'], 'int16')

2325 max
0 min
5655752 This is the memory usage
2786795    34
2695024    45
1456103     0
2459910     0
748443      0
1235803    47
1932461     0
2778066     0
2060730    28
2706540    78
1936798    46
237857     50
2432279     0
1057639     6
403147      0
1109269    35
2207660     0
1771831     0
687943      0
2441805     0
Name:  Fwd Packet Length Min, dtype: int16
Trying to convert datatypes for less memory usage
2325 max
0 min
5655752 memory usage
5655752  new memory usage| the difference ->  1.0

In [ ]:
ll

In [ ]:
# check_size_dtypes(df[''])

In [ ]:
# check_size_dtypes(df[''])
# df[''] = convert_datatypes([df[' '], 'int16')

In [ ]:
# check_size_dtypes(df[' Fwd Packet Length Min'])

In [ ]:
# check_size_dtypes(df[' '])
# df[' '] = convert_datatypes(df[''], 'int16')
# check_size_dtypes(df[''])
# df[' '] = convert_datatypes(df[''], 'int16')

In [ ]:
print_title('Fwd Packet Length Mean')

--------------- Fwd Packet Length Mean -----------------
--------------- Fwd Packet Length Mean -----------------
--------------- Fwd Packet Length Mean -----------------
--------------- Fwd Packet Length Mean -----------------
--------------- Fwd Packet Length Mean -----------------

In [ ]:
check_size_dtypes(df[' Fwd Packet Length Mean'])
# df[' Fwd Packet Length Mean'] = convert_datatypes(df[' Fwd Packet Length Mean'], 'int16')

5940.85693359375 max
0.0 min
11311504 This is the memory usage
1030376       0.000000
451004        0.000000
1960422      10.333333
2285567      40.111111
1528358      39.000000
2650416      39.333332
1537486      29.000000
433659        0.000000
1551194       4.000000
2466870       1.500000
1522878      33.000000
343595        2.000000
599066      357.333344
1818029      48.833332
706825       53.777779
1748531      67.368423
2676171      10.333333
355194        2.000000
2354054      42.875000
139187     1934.500000
Name:  Fwd Packet Length Mean, dtype: float32

In [ ]:
# check_size_dtypes(df[' Fwd Packet Length Mean'])
df[' Fwd Packet Length Mean'] = convert_datatypes(df[' Fwd Packet Length Mean'], 'float32')
check_size_dtypes(df[' Fwd Packet Length Mean'])

Trying to convert datatypes for less memory usage
5940.85693359375 max
0.0 min
11311504 memory usage
11311504  new memory usage| the difference ->  1.0
5940.85693359375 max
0.0 min
11311504 This is the memory usage
2453696       0.000000
1239084      34.000000
529208       30.000000
2238884      58.666668
2563193     130.500000
1288248       0.000000
316306        2.000000
1828911       0.000000
172398        8.666667
2646933      39.666668
2795207       0.000000
716335       85.428574
1508926      30.000000
2709052       0.000000
1997490      41.000000
2503025      58.000000
263834       41.000000
70771      1854.571411
1471664       0.000000
385425        0.000000
Name:  Fwd Packet Length Mean, dtype: float32

In [ ]:
print_title('Fwd Packet Length Std')

--------------- Fwd Packet Length Std -----------------
--------------- Fwd Packet Length Std -----------------
--------------- Fwd Packet Length Std -----------------
--------------- Fwd Packet Length Std -----------------
--------------- Fwd Packet Length Std -----------------

In [ ]:
check_size_dtypes(df[' Fwd Packet Length Std'])

7125.5966796875 max
0.0 min
11311504 This is the memory usage
155516       0.000000
1168646      0.000000
1124478      0.000000
1046423      0.000000
676088       0.000000
596108       0.000000
1486362      0.000000
1992042    113.000000
126297      10.263203
680922       0.000000
77555       10.263203
1650130    136.434906
2262107    178.452087
913383       0.000000
1324375      0.000000
1860927     26.162951
1303720      0.000000
2447414      0.000000
34730       10.263203
1019517      0.000000
Name:  Fwd Packet Length Std, dtype: float32

In [ ]:
df[' Fwd Packet Length Std'] = convert_datatypes(df[' Fwd Packet Length Std'], 'float32')
check_size_dtypes(df[' Fwd Packet Length Std'])

Trying to convert datatypes for less memory usage
7125.5966796875 max
0.0 min
11311504 memory usage
11311504  new memory usage| the difference ->  1.0
7125.5966796875 max
0.0 min
11311504 This is the memory usage
1179137      0.000000
2393548    163.707672
921056     191.308533
2666139      0.000000
1658116      0.000000
1537819      0.000000
923581       0.000000
2475008    248.009445
2745300      0.000000
1372709      0.000000
1995979      0.000000
1227093      0.000000
233662      23.197906
712409      17.897858
575264       0.000000
1468251     67.550797
2447640     20.207260
1325248      0.000000
228596       0.000000
2534920      0.000000
Name:  Fwd Packet Length Std, dtype: float32

In [ ]:
 'Bwd Packet Length Max',
 ' Bwd Packet Length Min',
 ' Bwd Packet Length Mean',
 ' Bwd Packet Length Std',

In [ ]:
print_title('Bwd Packet Length Max')

--------------- Bwd Packet Length Max -----------------
--------------- Bwd Packet Length Max -----------------
--------------- Bwd Packet Length Max -----------------
--------------- Bwd Packet Length Max -----------------
--------------- Bwd Packet Length Max -----------------

In [ ]:
check_size_dtypes(df['Bwd Packet Length Max'])

19530 max
0 min
5655752 This is the memory usage
1122424       83
1263604       99
949069       195
39467      11595
2282496        0
1742295        0
653236       118
1377804     1418
1348168     1338
2762771       71
298993        71
1276627       89
2192347      117
1648933       48
977780      2266
762455      4380
974936        64
1005164       72
1960922     4344
2183327      859
Name: Bwd Packet Length Max, dtype: int16

In [ ]:
df['Bwd Packet Length Max'] = convert_datatypes(df['Bwd Packet Length Max'], 'int16')
check_size_dtypes(df['Bwd Packet Length Max'])

Trying to convert datatypes for less memory usage
19530 max
0 min
5655752 memory usage
5655752  new memory usage| the difference ->  1.0
19530 max
0 min
5655752 This is the memory usage
2815925      94
1716484      66
1639842     150
835929      166
2369003       0
1835599       0
499179        6
966867        6
742026        0
239259        0
150122     7300
1853697       0
1812678       0
74623         0
2659436       0
2628785     138
1148093       6
1173628     105
530510       51
933485      976
Name: Bwd Packet Length Max, dtype: int16

In [ ]:
print_title(' Bwd Packet Length Min')

---------------  Bwd Packet Length Min -----------------
---------------  Bwd Packet Length Min -----------------
---------------  Bwd Packet Length Min -----------------
---------------  Bwd Packet Length Min -----------------
---------------  Bwd Packet Length Min -----------------

In [ ]:
check_size_dtypes(df[' Bwd Packet Length Min'])

2896 max
0 min
5655752 This is the memory usage
2040690     97
2814106      0
59859       78
2488319     72
1900582      0
2770266     23
2591534      0
1341096      0
1013382    123
2595075      6
2814131    138
502010     157
417125       6
2308930      0
498724       6
672448      79
1233302     48
1548645    132
1226086     91
1283288      0
Name:  Bwd Packet Length Min, dtype: int16

In [ ]:
df[' Bwd Packet Length Min'] = convert_datatypes(df[' Bwd Packet Length Min'], 'int16')
check_size_dtypes(df[' Bwd Packet Length Min'])

Trying to convert datatypes for less memory usage
2896 max
0 min
5655752 memory usage
5655752  new memory usage| the difference ->  1.0
2896 max
0 min
5655752 This is the memory usage
1882221      0
1274234     31
2779346      0
2209611      0
1723490    112
1080137     76
1111067    132
491532       0
2612759      0
2469929      0
832052       0
1859947      0
2470826      0
1179773     66
2200296      0
851039       0
2631194      0
922050      72
745786       0
2322260      0
Name:  Bwd Packet Length Min, dtype: int16

In [ ]:
print_title(' Bwd Packet Length Std')

---------------  Bwd Packet Length Std -----------------
---------------  Bwd Packet Length Std -----------------
---------------  Bwd Packet Length Std -----------------
---------------  Bwd Packet Length Std -----------------
---------------  Bwd Packet Length Std -----------------

In [ ]:
check_size_dtypes(df[' Bwd Packet Length Std'])

8194.66015625 max
0.0 min
11311504 This is the memory usage
2095916       0.000000
2316176    2120.732178
1298375       0.000000
357468        0.000000
1879933       0.000000
734896      757.023193
235383     1123.430054
21260      4871.825684
2773408       0.000000
1896149     740.352722
252414        0.000000
1276716     683.782776
835981      384.156464
2349820    1757.578979
1774988       0.000000
1249189       0.000000
1658627       0.000000
139760        0.000000
2770732       0.000000
2283299    1757.578979
Name:  Bwd Packet Length Std, dtype: float32

In [ ]:
df[' Bwd Packet Length Std'] = convert_datatypes(df[' Bwd Packet Length Std'], 'float32')
check_size_dtypes(df[' Bwd Packet Length Std'])

Trying to convert datatypes for less memory usage
8194.66015625 max
0.0 min
11311504 memory usage
11311504  new memory usage| the difference ->  1.0
8194.66015625 max
0.0 min
11311504 This is the memory usage
358969        0.000000
2337575       0.000000
2597025       0.000000
1919239       0.000000
361956        0.000000
348290        0.000000
2289494    2362.781494
2491656      16.970562
561579      606.952637
2060759       0.000000
618511      777.816345
279107      142.999298
544226      716.670654
960494        0.000000
1675057       0.000000
2496430       0.000000
1768378     683.164185
1566188       0.000000
60362         5.006662
767789        0.000000
Name:  Bwd Packet Length Std, dtype: float32

In [ ]:
print_title(' Bwd Packet Length Mean')

---------------  Bwd Packet Length Mean -----------------
---------------  Bwd Packet Length Mean -----------------
---------------  Bwd Packet Length Mean -----------------
---------------  Bwd Packet Length Mean -----------------
---------------  Bwd Packet Length Mean -----------------

In [ ]:
check_size_dtypes(df[' Bwd Packet Length Mean'])

5800.0 max
0.0 min
5655752 This is the memory usage
2732902     124.000
1971156       0.000
2027891       0.000
1460156     201.625
2739826     112.000
1621619       0.000
322953        6.000
426326        6.000
2265917       0.000
2513225     282.000
945630      167.000
2401565       0.000
238516        0.000
2317050    1656.000
705629        0.000
1088468      88.000
957046     1380.000
2391054     622.500
2368586    1932.000
2811522       6.000
Name:  Bwd Packet Length Mean, dtype: float16

In [ ]:
df[' Bwd Packet Length Mean'] = convert_datatypes(df[' Bwd Packet Length Mean'], 'float16')
check_size_dtypes(df[' Bwd Packet Length Mean'])

Trying to convert datatypes for less memory usage
5800.0 max
0.0 min
5655752 memory usage
5655752  new memory usage| the difference ->  1.0
5800.0 max
0.0 min
5655752 This is the memory usage
2754806    881.000000
914615       6.000000
1859442    146.000000
2607860      0.000000
2716802    111.000000
338410       6.000000
2502038    607.000000
1842409      0.199951
1966110      0.000000
1312815      0.000000
1660335      0.000000
2578234     94.000000
1308225    124.000000
559968      91.000000
2582168    138.750000
1762195    171.750000
592458     111.000000
2104888    222.000000
895033      95.812500
2315484      0.000000
Name:  Bwd Packet Length Mean, dtype: float16

In [ ]:
ll

In [ ]:
print_title('flow bytes')

--------------- flow bytes -----------------
--------------- flow bytes -----------------
--------------- flow bytes -----------------
--------------- flow bytes -----------------
--------------- flow bytes -----------------

In [ ]:
check_size_dtypes(df['Flow Bytes/s'])

100.0 max
0.0 min
11311504 This is the memory usage
1064260    11.192334
1252519    11.193490
675658     11.192183
1973219    11.192110
634479     11.276887
1121471    11.268006
1288293    11.192822
160871     11.198215
1971618    11.192110
1790712    11.193274
1989197    11.193227
1071622    11.195161
931556     11.192110
2022815    11.234316
268297     11.192574
112012     11.192116
412528     11.197827
1049765    11.219625
2637663    11.192201
1419260    11.192113
Name: Flow Bytes/s, dtype: float32

In [ ]:
# normalize(df['Flow Bytes/s'])
df['Flow Bytes/s'].sample(20)

145989     11.194994
979817     11.208063
2566207    11.249694
440464     11.197058
1109911    11.195466
1510013    11.363636
1016951    11.192482
2720165    11.192130
2622437    11.238106
1621147    11.241569
2827013    11.192122
2356051    11.192116
176409     11.192115
344347     11.199409
808164     11.192908
301941     11.192113
1604586    11.302887
1979200    11.192355
2518161    11.194834
2432513    11.192115
Name: Flow Bytes/s, dtype: float32

In [ ]:
df['Flow Bytes/s'] = normalize(df['Flow Bytes/s'])

df['Flow Bytes/s'] = convert_datatypes(df['Flow Bytes/s'], 'float32')
check_size_dtypes(df['Flow Bytes/s'])

Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
100.0 max
0.0 min
11311504 This is the memory usage
2136031    11.192110
1313190    11.249286
1065054    11.192430
744746     11.192500
2545227    11.363636
2553886    11.192392
1767425    11.192110
862388     11.588765
183943     11.192110
623719     11.192112
1040336    11.192659
2069029    11.192389
527247     11.242249
547857     11.207301
2055705    11.192119
499516     11.197155
2033407    11.192204
1881014    11.269969
2714293    11.301080
2580111    11.192110
Name: Flow Bytes/s, dtype: float32

In [ ]:
check_size_dtypes(df[' Flow IAT Mean'])

100.0 max
0.0 min
11311504 This is the memory usage
666236      0.020133
753807      1.580457
1627267     0.000012
2626419     0.008610
796650      0.045332
306323      0.000013
2223729     0.000231
1320548     0.016971
493473      0.000062
1893102     0.025451
1119119     0.006636
2170451     0.000415
2018252     0.000058
842880      0.889371
1026203     0.025443
339097      0.000078
2641225     2.655583
1966992     0.347545
1527214    17.750010
2073259     0.470885
Name:  Flow IAT Mean, dtype: float32

In [ ]:
df[' Flow IAT Mean'] = normalize(df[' Flow IAT Mean'])
df[' Flow IAT Mean'] = convert_datatypes(df[' Flow IAT Mean'], 'float32')
check_size_dtypes(df[' Flow IAT Mean'])

Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
100.0 max
0.0 min
11311504 This is the memory usage
1435607    0.000013
120507     0.556506
2255704    0.000051
1184375    0.000236
1350379    0.773931
1957814    0.002505
436719     0.000051
2744732    0.008537
2159032    1.436292
571542     0.994412
2552302    4.101744
2763028    0.016343
1299515    0.000079
208482     0.008682
816734     0.000416
831125     0.052075
2410573    6.293504
1054898    0.000057
1278702    0.019537
236187     0.019771
Name:  Flow IAT Mean, dtype: float32

In [ ]:
print_title('flow IAT STD')

--------------- flow IAT STD -----------------
--------------- flow IAT STD -----------------
--------------- flow IAT STD -----------------
--------------- flow IAT STD -----------------
--------------- flow IAT STD -----------------

In [ ]:
 check_size_dtypes(df[' Flow IAT Std'])

100.0 max
0.0 min
11311504 This is the memory usage
510378     0.048512
2545998    0.014187
1197986    0.000000
951148     0.000158
1422767    0.000028
171973     0.225598
2701320    0.021657
943927     7.945436
1788683    0.015381
2462161    0.000002
1485632    0.086848
1970946    0.000107
2146782    0.000000
284970     0.000000
451023     0.000000
353501     0.000000
147014     0.964000
1638642    2.590207
1835219    0.000125
2585205    0.000563
Name:  Flow IAT Std, dtype: float32

In [ ]:
df[' Flow IAT Std'] = normalize(df[' Flow IAT Std'])
df[' Flow IAT Std'] = convert_datatypes(df[' Flow IAT Std'], 'float32')
check_size_dtypes(df[' Flow IAT Std'])

Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
100.0 max
0.0 min
11311504 This is the memory usage
857034      0.014247
1439265     0.000024
1996442     0.016483
646454      0.227654
1157718     0.026090
1494013     0.000000
16509       0.054419
2108497     0.000000
391772      0.000000
1769289    30.542358
2337558     0.000000
1838883     0.000000
2756712     2.530047
1964716     0.026014
497347      0.000000
1000364     0.019550
1114509     0.021181
477670      0.000000
1419281     0.000000
1680821     4.835661
Name:  Flow IAT Std, dtype: float32

In [ ]:
print_title('Flow packets')

--------------- Flow packets -----------------
--------------- Flow packets -----------------
--------------- Flow packets -----------------
--------------- Flow packets -----------------
--------------- Flow packets -----------------

In [ ]:
check_size_dtypes(df[' Flow Packets/s'])

100.0 max
0.0 min
11311504 This is the memory usage
2024582    33.334415
2692653    33.650795
1732590    33.334789
1450452    41.666668
1198917    33.789955
1968799    33.333363
880006     33.333389
522773     33.333870
1792321    33.351871
42864      33.333363
2640588    33.334755
2425753    33.333336
2561924    33.333813
276669     33.691757
1841325    33.333351
46155      33.333355
2548480    33.334846
693705     33.333336
1875870    33.333340
1407738    33.944954
Name:  Flow Packets/s, dtype: float32

In [ ]:
df[' Flow Packets/s'] = normalize(df[' Flow Packets/s'])
df[' Flow Packets/s'] = convert_datatypes(df[' Flow Packets/s'], 'float32')
check_size_dtypes(df[' Flow Packets/s'])

Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
100.0 max
0.0 min
11311504 This is the memory usage
2146951    33.656960
910525     33.333340
2559643    33.333344
833770     41.666668
1840033    50.000000
1004080    33.333340
654584     33.663368
2226123    33.338085
2697436    33.870968
561840     33.334599
1444948    33.333576
2654299    33.486591
2535831    33.333961
2330355    33.333336
438172     33.962265
2084295    33.335472
1999465    33.406513
2344566    33.338543
1648006    34.027779
1837685    66.666664
Name:  Flow Packets/s, dtype: float32

In [ ]:
print_title(' Flow IAT Max')

---------------  Flow IAT Max -----------------
---------------  Flow IAT Max -----------------
---------------  Flow IAT Max -----------------
---------------  Flow IAT Max -----------------
---------------  Flow IAT Max -----------------

In [ ]:
 check_size_dtypes(df[' Flow IAT Max'])

100 max
0 min
11311504 This is the memory usage
161369      0
2542715     8
1789334     0
78002      57
1159054     0
798684      0
150995      0
2808969     0
296881      0
1073853     0
44181       5
2469565    10
830459      0
2664913     0
122105      8
1675726     0
1030423     0
1966334     0
2344639    81
1956845     0
Name:  Flow IAT Max, dtype: int32

In [ ]:
df[' Flow IAT Max'] = normalize(df[' Flow IAT Max'])
df[' Flow IAT Max'] = convert_datatypes(df[' Flow IAT Max'], 'int32')

check_size_dtypes(df[' Flow IAT Max'])

Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
100 max
0 min
11311504 This is the memory usage
217654     8
467467     0
1393683    0
1920873    0
278104     0
2137289    0
2659296    0
973141     8
562874     0
1084557    0
568796     0
2476710    0
2649063    3
614594     0
1813350    0
2148879    0
2098050    2
1561179    0
1609491    0
2175870    0
Name:  Flow IAT Max, dtype: int32

In [ ]:
# check_size_dtypes(df[' Flow IAT Mean'])

In [ ]:
# check_size_dtypes(df[' Flow IAT Max'])

In [ ]:
print_title('flow IAT mean')

--------------- flow IAT mean -----------------
--------------- flow IAT mean -----------------
--------------- flow IAT mean -----------------
--------------- flow IAT mean -----------------
--------------- flow IAT mean -----------------

In [ ]:
check_size_dtypes(df[' Flow IAT Min'])

100 max
0 min
11311504 This is the memory usage
2471746    0
1820199    0
2481523    0
680850     0
40122      0
75980      0
2383554    0
171650     0
2305546    0
1001905    0
2322434    0
1796784    0
390688     0
2294577    0
1192302    0
2790573    0
580808     0
780286     0
2225257    0
968521     0
Name:  Flow IAT Min, dtype: int32

In [ ]:
df[' Flow IAT Min'] = normalize(df[' Flow IAT Min'])
df[' Flow IAT Min'] = convert_datatypes(df[' Flow IAT Min'], 'int32')
check_size_dtypes(df[' Flow IAT Min'])

# df[' Flow IAT Min'].value_counts()

Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
100 max
0 min
11311504 This is the memory usage
87404       0
1632581     0
1057328     0
2555864     0
2441859     0
2734883     0
2141722     0
368765      0
452046      0
2015063     0
255004      0
2004948     0
2519685     0
2452755     0
637410      0
1957835     0
984737      0
903951      0
1872706    53
323679      0
Name:  Flow IAT Min, dtype: int32

In [ ]:
print_title('FWD IAT Total')

--------------- FWD IAT Total -----------------
--------------- FWD IAT Total -----------------
--------------- FWD IAT Total -----------------
--------------- FWD IAT Total -----------------
--------------- FWD IAT Total -----------------

In [ ]:
check_size_dtypes(df['Fwd IAT Total'])

120000000 max
0 min
22623008 This is the memory usage
1540808           0
2000322           0
2784990          14
1398201           3
971284            0
311558            4
2480898       46661
97563      80300000
2459186           3
715157     60587018
333475            0
486772        33306
1472735           4
2687224         956
2264351    86100000
82941      11700000
2231897       13994
1708374    19400000
129327            0
581815            5
Name: Fwd IAT Total, dtype: int64

In [ ]:
df['Fwd IAT Total'] = normalize(df['Fwd IAT Total'])
df['Fwd IAT Total'] = convert_datatypes(df['Fwd IAT Total'], 'float32')

check_size_dtypes(df['Fwd IAT Total'])

Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
100.0 max
0.0 min
11311504 This is the memory usage
2309823    82.000000
357222      0.000000
2650739     3.997020
855896      0.000133
1920532     0.000000
205885      0.037113
2380316    82.250000
900034      0.000002
760214     50.776554
1285379     0.506390
1631546     0.000002
1072613     0.000000
402179      0.000000
1234520     0.000000
26069       3.384928
983816     96.995003
420053      0.000000
1049520     0.000000
1745798     0.043633
295683     14.666667
Name: Fwd IAT Total, dtype: float32

In [ ]:
print_title('FWD IAT MEAN')

--------------- FWD IAT MEAN -----------------
--------------- FWD IAT MEAN -----------------
--------------- FWD IAT MEAN -----------------
--------------- FWD IAT MEAN -----------------
--------------- FWD IAT MEAN -----------------

In [ ]:
 check_size_dtypes(df[' Fwd IAT Mean'])

120000000.0 max
0.0 min
22623008 This is the memory usage
2536406    1.357000e+03
325488     0.000000e+00
1089952    1.990000e+02
1599233    0.000000e+00
1354362    2.000000e+00
2497730    1.323946e+06
1163413    4.000000e+00
2628739    3.829424e+04
982558     4.796057e+04
1427581    4.900000e+01
2454064    1.666667e+00
2389733    1.700000e+07
1949602    5.903000e+03
500339     0.000000e+00
2630556    1.394849e+06
50993      0.000000e+00
829864     1.076115e+04
2664599    4.000000e+00
768926     0.000000e+00
1540629    0.000000e+00
Name:  Fwd IAT Mean, dtype: float64

In [ ]:
df[' Fwd IAT Mean'] = normalize(df[' Fwd IAT Mean'])
df[' Fwd IAT Mean'] = convert_datatypes(df[' Fwd IAT Mean'], 'float32')

check_size_dtypes(df[' Fwd IAT Mean'])

Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
100.0 max
0.0 min
11311504 This is the memory usage
2342995    1.175000e+01
1416747    1.250000e-05
2693066    4.083333e-05
1870525    0.000000e+00
409785     0.000000e+00
87781      1.375000e+01
270077     2.500000e-06
1394695    2.500000e-06
1408374    8.333333e-07
1476954    2.500000e-06
61310      0.000000e+00
820964     9.297560e-03
2091540    1.316667e+01
2433905    9.250000e+00
2207072    2.378681e+00
2798057    0.000000e+00
1583890    0.000000e+00
428433     0.000000e+00
1589828    4.106494e+00
1619490    2.441417e-02
Name:  Fwd IAT Mean, dtype: float32

In [ ]:
print_title(' Fwd IAT Std')

---------------  Fwd IAT Std -----------------
---------------  Fwd IAT Std -----------------
---------------  Fwd IAT Std -----------------
---------------  Fwd IAT Std -----------------
---------------  Fwd IAT Std -----------------

In [ ]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)
  
# Dropping all the rows with nan values
df.dropna(inplace=True)

In [ ]:
check_size_dtypes(df[' Fwd IAT Std'])

84602929.2769822 max
0.0 min
22623008 This is the memory usage
2700108    0.000000e+00
2388444    3.730000e+07
106515     2.720000e+07
1664770    3.849037e+06
1619465    0.000000e+00
504620     0.000000e+00
1439428    0.000000e+00
52542      0.000000e+00
343057     0.000000e+00
1182175    3.394113e+01
667382     0.000000e+00
2348820    2.980000e+07
2362234    4.390000e+07
1090158    0.000000e+00
1191114    0.000000e+00
1858701    5.612615e+04
1308934    4.599845e+06
1596869    0.000000e+00
1962573    0.000000e+00
1092952    0.000000e+00
Name:  Fwd IAT Std, dtype: float64

In [ ]:
 
df[' Fwd IAT Std']= normalize(df[' Fwd IAT Std'])
df[' Fwd IAT Std']= convert_datatypes(df[' Fwd IAT Std'], 'float32')
check_size_dtypes(df[' Fwd IAT Std'])

Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
100.0 max
0.0 min
11311504 This is the memory usage
39943      0.000000
941627     4.915241
2535603    0.000000
394104     0.000000
1209122    0.000000
871363     0.000000
2686906    0.000000
974737     0.000000
2612403    0.000002
2122904    0.000000
1682839    5.881292
2092343    0.000000
2829141    0.000000
1283678    0.000000
374572     0.000000
944288     0.000000
2006542    0.000000
1622188    0.070722
1277106    0.000000
1469325    5.908455
Name:  Fwd IAT Std, dtype: float32

In [ ]:
 check_size_dtypes(df[' Fwd IAT Std'])

100.0 max
0.0 min
11311504 This is the memory usage
1078823     0.000000
706451      0.027281
2718852     0.000000
2112861     0.000000
111178      0.000000
367410      0.000000
1226523     0.000000
1454702     0.000000
87440       0.000000
1937798     0.000000
1739294     4.175400
1952792     0.113086
1129288     0.000000
2610772     0.000000
650771     18.320879
979291      0.000000
2360635     0.000000
1503768     0.000000
1152712     0.000000
1596837     0.000000
Name:  Fwd IAT Std, dtype: float32

In [ ]:
print_title("FWD IAT MAX")

--------------- FWD IAT MAX -----------------
--------------- FWD IAT MAX -----------------
--------------- FWD IAT MAX -----------------
--------------- FWD IAT MAX -----------------
--------------- FWD IAT MAX -----------------

In [ ]:
 check_size_dtypes(df[' Fwd IAT Max'])

120000000 max
0 min
22623008 This is the memory usage
628149            0
34390          1197
536576            1
1056581    10060765
650811     10500000
2342972    98700000
351697            0
1369267          48
2704300     6904733
59285             3
504779            0
467084            0
1422889          47
176160            0
97004         32009
378812            0
283375     58900000
2652998           0
2088638           0
1341903           3
Name:  Fwd IAT Max, dtype: int64

In [ ]:
# df[' Fwd IAT Max'] = normalize(df[' Fwd IAT Max']) 
df[' Fwd IAT Max'] = convert_datatypes(df[' Fwd IAT Max'], 'int32')
check_size_dtypes(df[' Fwd IAT Max'])

Trying to convert datatypes for less memory usage
120000000 max
0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
120000000 max
0 min
11311504 This is the memory usage
2615330         214
2321743    98700000
1441399          46
2775396     5564078
1456053       39101
2490284           3
1627896           3
2474392           0
718968     44974016
65491       9868870
452325            0
2226700       12996
83986      71200000
1180436           1
762004            0
42755             0
2555484      235275
514589            0
2702975           3
1064833       30248
Name:  Fwd IAT Max, dtype: int32

In [ ]:
 print_title(' Fwd IAT Min')
 check_size_dtypes(df[' Fwd IAT Min'])

---------------  Fwd IAT Min -----------------
---------------  Fwd IAT Min -----------------
---------------  Fwd IAT Min -----------------
---------------  Fwd IAT Min -----------------
---------------  Fwd IAT Min -----------------
120000000 max
-12 min
22623008 This is the memory usage
430384            0
2714713           0
2597842         352
1416113          49
780150       117879
2728850           3
2453091           0
2560413    20300000
1538659           2
2132201           1
1096636           0
242282           47
2206928      997581
148298           49
2014766           4
1348748           3
420321            0
135095          101
67590          1006
2549629           3
Name:  Fwd IAT Min, dtype: int64

In [ ]:
df[' Fwd IAT Min'] = normalize(df[' Fwd IAT Min'])
df[' Fwd IAT Min'] = convert_datatypes(df[' Fwd IAT Min'], 'float32')
check_size_dtypes(df[' Fwd IAT Min'])

Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
100.0 max
0.0 min
11311504 This is the memory usage
2203860     0.000012
250761      0.265286
1950384     0.000060
2306238     0.000012
2425404     0.000012
1754455     0.000010
1678103     0.000108
2755721     0.000011
1827880     0.000013
551346      0.000028
2223607     0.000012
1198051     0.000051
264209      0.000012
2678992     0.000013
197172      0.000142
197096      0.000099
1151008     0.000011
1490058    60.083336
2730648     0.000665
2607278     0.000173
Name:  Fwd IAT Min, dtype: float32

In [ ]:
len(ll)

0

In [ ]:
print_title('Bwd IAT Total')

--------------- Bwd IAT Total -----------------
--------------- Bwd IAT Total -----------------
--------------- Bwd IAT Total -----------------
--------------- Bwd IAT Total -----------------
--------------- Bwd IAT Total -----------------

In [ ]:
check_size_dtypes(df['Bwd IAT Total'])

120000000 max
0 min
22623008 This is the memory usage
1768994            0
852424     110600845
2331564       149414
2580387           47
2203209            0
978601             0
883777      19191220
2813664            0
376444             0
313424             0
471867             3
2368149     84900000
1403857            0
1618835            0
2122252            3
1989616            3
1015880            0
704590      67999776
961476        285333
1014167        84841
Name: Bwd IAT Total, dtype: int64

In [ ]:
df['Bwd IAT Total'] = convert_datatypes(df['Bwd IAT Total'], 'int32')
check_size_dtypes(df['Bwd IAT Total'])



# df['Bwd IAT Total']
# df[' Bwd IAT Max']
# df['Fwd PSH Flags']
# df['Fwd Packets/s']

Trying to convert datatypes for less memory usage
120000000 max
0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
120000000 max
0 min
11311504 This is the memory usage
1851528            0
2103696            0
947898             0
1548344            0
764790             1
513226             0
1453391            0
857454             0
2695591            0
1933075    119000000
2030714            0
196599             0
1093125            4
1162141            3
57562         490674
765465             0
2298610       146435
417993             0
1755731      9004001
1584097            0
Name: Bwd IAT Total, dtype: int32

In [ ]:
print_title(' Bwd IAT Max')
# df[' Bwd IAT Max']

---------------  Bwd IAT Max -----------------
---------------  Bwd IAT Max -----------------
---------------  Bwd IAT Max -----------------
---------------  Bwd IAT Max -----------------
---------------  Bwd IAT Max -----------------

In [ ]:
df[' Bwd IAT Max'] = convert_datatypes(df[' Bwd IAT Max'], 'int32')
check_size_dtypes(df[' Bwd IAT Max'])

Trying to convert datatypes for less memory usage
120000000 max
0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
120000000 max
0 min
11311504 This is the memory usage
2368529      193160
2811752           0
1068788          49
2239144      132072
1148514           1
1403562           0
836071      3556395
2391589    98600000
2317344    98900000
348014            0
1476973           3
357739            0
2570711          49
630795            3
2421395           0
2084816           3
975500            0
157163     88300000
2266231       30093
1792540           0
Name:  Bwd IAT Max, dtype: int32

In [ ]:
print_title('Fwd PSH Flags')

--------------- Fwd PSH Flags -----------------
--------------- Fwd PSH Flags -----------------
--------------- Fwd PSH Flags -----------------
--------------- Fwd PSH Flags -----------------
--------------- Fwd PSH Flags -----------------

In [ ]:
df['Fwd PSH Flags'] = convert_datatypes(df['Fwd PSH Flags'], 'int8')
check_size_dtypes(df['Fwd PSH Flags'])

Trying to convert datatypes for less memory usage
1 max
0 min
22623008 memory usage
2827876  new memory usage| the difference ->  8.0
1 max
0 min
2827876 This is the memory usage
771355     0
1404280    0
802432     0
781462     0
2499855    0
1867905    0
1186995    0
1679251    0
1748919    0
2413941    0
2005806    0
2067417    0
2421449    0
520076     0
1924519    0
973583     0
865296     0
2254835    0
1824506    0
2630665    0
Name: Fwd PSH Flags, dtype: int8

In [ ]:
print_title('Fwd Packets/s')

--------------- Fwd Packets/s -----------------
--------------- Fwd Packets/s -----------------
--------------- Fwd Packets/s -----------------
--------------- Fwd Packets/s -----------------
--------------- Fwd Packets/s -----------------

In [ ]:

df['Fwd Packets/s'] = normalize(df['Fwd Packets/s'])
df['Fwd Packets/s'] = convert_datatypes(df['Fwd Packets/s'], 'float32')
check_size_dtypes(df['Fwd Packets/s'])

Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
100.0 max
0.0 min
11311504 This is the memory usage
150357     1.303934e-03
499518     6.535948e-01
207333     2.222222e+01
2455815    1.308472e-01
2592833    5.345160e-05
1109618    1.404780e-03
248148     4.295810e-03
908786     1.389120e-03
845192     2.624672e-01
899946     8.960140e-04
2817388    6.494941e-04
1154291    8.547009e-01
1902779    1.237946e-04
467780     7.246377e-01
750477     9.087755e-07
1429419    1.149425e+00
1429080    1.388889e+00
1170338    4.016064e-01
1010054    2.122268e-05
2066290    1.522070e-01
Name: Fwd Packets/s, dtype: float32

In [ ]:
# print_title(' Packet Length Std')

In [ ]:
check_size_dtypes(df[' Packet Length Std'])

4731.522394 max
0.0 min
22623008 This is the memory usage
2516328       0.000000
543515        0.000000
1760806      38.105118
1623437      15.500000
2524109      69.282032
1117217       8.763561
1018470     609.106319
2759667      21.908902
741368        0.000000
1455009       2.190890
2256028    1579.360777
694802      532.379970
144980        0.000000
1172096       0.000000
317407        2.309401
201917       31.220186
2234926    1499.793319
1516537       9.237604
1343919      16.165808
31988         0.000000
Name:  Packet Length Std, dtype: float64

In [ ]:
df[' Packet Length Std'] = convert_datatypes(df[' Packet Length Std'] ,'float32')
check_size_dtypes(df[' Packet Length Std'])

Trying to convert datatypes for less memory usage
4731.522394 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
4731.5224609375 max
0.0 min
11311504 This is the memory usage
304009        0.000000
120497     2931.429443
44106      3378.299072
2634878       8.763561
1378634       2.190890
1852129     682.052185
84370      3214.167480
659868        0.000000
1876534      61.199127
1474629       0.000000
2058649      30.740852
1475957       0.000000
2650804      85.665215
2065722       0.000000
2035180       0.000000
2531625      49.652122
2651325       9.237604
2058211       0.000000
196006      634.190125
1732244       0.000000
Name:  Packet Length Std, dtype: float32

In [ ]:
print_title(' Fwd Header Length')

---------------  Fwd Header Length -----------------
---------------  Fwd Header Length -----------------
---------------  Fwd Header Length -----------------
---------------  Fwd Header Length -----------------
---------------  Fwd Header Length -----------------

In [ ]:
# convert_datatypes(df[' Fwd Header Length'] ,'')
check_size_dtypes(df[' Fwd Header Length'])

4644908 max
-32212234632 min
22623008 This is the memory usage
2632325      72
2215284     104
916162       32
1241095     328
1603142      32
1254289    1960
2039940      64
1747860      64
2397464     164
1507591     736
1985587      20
2675571      20
2620681     724
1002684      20
687378       64
2183363      32
193653       40
849074      332
1524269      40
332551       24
Name:  Fwd Header Length, dtype: int64

In [ ]:
df[' Bwd Header Length'] = normalize(df[' Bwd Header Length'])
df[' Bwd Header Length'] = convert_datatypes(df[' Bwd Header Length'] ,'float32')
check_size_dtypes(df[' Bwd Header Length'])

Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
100.0 max
0.0 min
11311504 This is the memory usage
1565764    99.459198
136711     99.459206
819153     99.459206
822806     99.459190
1301382    99.459198
756153     99.459190
801065     99.459190
2550825    99.459198
2796756    99.459198
1971021    99.459198
2491305    99.459221
648376     99.459198
2795747    99.459198
1948459    99.459198
990565     99.459198
2149245    99.459213
1649989    99.459190
2275119    99.459198
1993068    99.459198
2357242    99.459213
Name:  Bwd Header Length, dtype: float32

In [ ]:
print_title(' Min Packet Length')

---------------  Min Packet Length -----------------
---------------  Min Packet Length -----------------
---------------  Min Packet Length -----------------
---------------  Min Packet Length -----------------
---------------  Min Packet Length -----------------

In [ ]:
check_size_dtypes(df[' Min Packet Length'])

1448 max
0 min
22623008 This is the memory usage
96758       0
2133213    47
1931474     0
2012713    73
1722995     0
1879847     0
1373801     2
2387465     0
1302450     6
564379      0
847303      6
2694724    42
2730761     0
973545      6
2327493     0
690439      0
1982487    32
2810663     0
2154037     6
1771004     0
Name:  Min Packet Length, dtype: int64

In [ ]:
df[' Min Packet Length'] = convert_datatypes(df[' Min Packet Length'] ,'int16')
check_size_dtypes(df[' Min Packet Length'])

Trying to convert datatypes for less memory usage
1448 max
0 min
22623008 memory usage
5655752  new memory usage| the difference ->  4.0
1448 max
0 min
5655752 This is the memory usage
236579      0
2301457     0
2691888     0
1580288     0
2742893    39
1425634     2
1342526    33
1465893     0
606674      6
1973990    36
2470923    38
1429229     2
263518      6
2729188    38
570255     34
1866415     0
421778      0
2583620     0
754720      0
1546856     0
Name:  Min Packet Length, dtype: int16

In [ ]:
print_title('packet length mean')

--------------- packet length mean -----------------
--------------- packet length mean -----------------
--------------- packet length mean -----------------
--------------- packet length mean -----------------
--------------- packet length mean -----------------

In [ ]:
df[' Packet Length Mean'] = convert_datatypes(df[' Packet Length Mean'],'float32') 
check_size_dtypes(df[' Packet Length Mean'])

Trying to convert datatypes for less memory usage
3337.142857 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
3337.142822265625 max
0.0 min
11311504 This is the memory usage
1339528     86.000000
257229       0.000000
1060441      0.000000
103534     687.470581
717139     419.172424
1897962     59.000000
841644      20.666666
931848       0.000000
722276     301.666656
979538      88.333336
106704     897.615356
652464     222.324326
1106543      0.000000
362280       3.333333
2671479     64.000000
508300      75.400002
2610323     67.000000
2795990      6.000000
1289009      6.000000
1418054      3.600000
Name:  Packet Length Mean, dtype: float32

In [ ]:
print_title('Max packet length')

--------------- Max packet length -----------------
--------------- Max packet length -----------------
--------------- Max packet length -----------------
--------------- Max packet length -----------------
--------------- Max packet length -----------------

In [ ]:
check_size_dtypes(df[' Max Packet Length'])

24820 max
0 min
22623008 This is the memory usage
1248395     901
1310922    4380
1778795     179
2387141    8688
1126116      49
620797      152
374789        6
2294309      46
2180618     483
1979381     164
2241496    5792
2136072      86
948457        6
2818835      72
1614308       6
1294815      52
1624755      72
2353202       0
2089875      98
2528132    1448
Name:  Max Packet Length, dtype: int64

In [ ]:
df[' Max Packet Length'] = convert_datatypes(df[' Max Packet Length'], 'int16')
check_size_dtypes(df[' Max Packet Length'])

Trying to convert datatypes for less memory usage
24820 max
0 min
22623008 memory usage
5655752  new memory usage| the difference ->  4.0
24820 max
0 min
5655752 This is the memory usage
2671618       48
2720066        6
2598233       76
376546         6
145372         6
1911558     2920
2639319     4380
1887641     1013
70254          6
1931559      105
123409     11595
1329485      107
168180     11595
792263      1448
1844663        0
2008214      140
46921       8760
1136324        0
2609967       63
71167          6
Name:  Max Packet Length, dtype: int16

In [ ]:
print_title('Packet Length Variance')

--------------- Packet Length Variance -----------------
--------------- Packet Length Variance -----------------
--------------- Packet Length Variance -----------------
--------------- Packet Length Variance -----------------
--------------- Packet Length Variance -----------------

In [ ]:
check_size_dtypes(df[' Packet Length Variance'])

22400000.0 max
0.0 min
22623008 This is the memory usage
1163319       235.200000
679227        552.250000
1495232       554.700000
1800345       320.333333
1729346      9408.000000
1796486         0.000000
2166447         0.000000
505233          0.000000
1996352         0.000000
2712153      1228.800000
915689       3121.200000
1398970      9747.000000
1797460    186695.111100
2441296         0.000000
1483088     22755.356060
1749648        65.333333
1367090         4.800000
1783811        85.333333
2701242     12979.200000
581975          0.000000
Name:  Packet Length Variance, dtype: float64

In [ ]:
df[' Packet Length Variance'] = normalize(df[' Packet Length Variance'])
df[' Packet Length Variance'] = convert_datatypes(df[' Packet Length Variance'], 'float32')
check_size_dtypes(df[' Packet Length Variance'])

Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
100.0 max
0.0 min
11311504 This is the memory usage
811706      1.522558
786041      0.000930
1958940     1.966763
1508805     0.000000
2012377     0.001371
2673909     0.001833
1759877     0.014292
1346601     0.000000
85601      32.666359
964294      0.078933
2333427     0.000048
1251097     5.445833
2187868     0.000000
731319      0.013333
694791      0.021943
1711666     0.021281
270536      0.000000
1906350     0.000000
2379739     0.000000
972047      0.001906
Name:  Packet Length Variance, dtype: float32

In [ ]:
print_title('fin flag count')

--------------- fin flag count -----------------
--------------- fin flag count -----------------
--------------- fin flag count -----------------
--------------- fin flag count -----------------
--------------- fin flag count -----------------

In [ ]:
  # df['FIN Flag Count'] =  convert_datatypes(df['FIN Flag Count', '')
check_size_dtypes(df['FIN Flag Count'])

1 max
0 min
22623008 This is the memory usage
2532570    0
2295785    0
1921254    0
650453     0
802447     0
1601608    0
485188     0
2285585    0
659647     0
546465     0
821280     0
2827568    0
2298572    0
1662978    0
2296105    0
613670     0
1207874    0
1190061    0
1642192    0
2459185    0
Name: FIN Flag Count, dtype: int64

In [ ]:
#  df[' PSH Flag Count'] = convert_datatypes(df[' PSH Flag Count'], 'int8')
  
check_size_dtypes(df[' PSH Flag Count'])
# df[' PSH Flag Count'].value_counts()

1 max
0 min
22623008 This is the memory usage
2610643    1
134491     0
2125303    0
2056850    0
528829     1
159450     0
1359603    1
1388114    1
1676634    0
1263280    0
1688627    0
2762777    0
1957037    0
1207699    0
585600     0
2712850    0
1470780    1
2384062    0
2255415    0
646904     0
Name:  PSH Flag Count, dtype: int64

In [ ]:

df[' ACK Flag Count'] =  convert_datatypes(df[' ACK Flag Count'], 'int8')
check_size_dtypes(df[' ACK Flag Count'])

Trying to convert datatypes for less memory usage
1 max
0 min
22623008 memory usage
2827876  new memory usage| the difference ->  8.0
1 max
0 min
2827876 This is the memory usage
2131887    0
1679130    1
1286373    0
543993     1
1320565    1
149309     1
986322     0
2165073    1
753923     0
774591     0
1156908    1
1944266    0
1109392    1
370062     0
2100269    1
275201     0
1822059    0
74613      1
977864     0
2337725    0
Name:  ACK Flag Count, dtype: int8

In [ ]:

check_size_dtypes(df[' URG Flag Count'])
df[' URG Flag Count'] = convert_datatypes(df[' URG Flag Count'], 'int8')

1 max
0 min
22623008 This is the memory usage
1790938    0
188766     0
1195691    0
528224     0
2041329    0
2588314    0
701796     0
1567398    0
559134     0
2336799    0
2691079    0
1684970    0
2546790    0
1508666    0
751417     0
1494630    0
214053     0
2445081    0
2011535    0
745996     0
Name:  URG Flag Count, dtype: int64
Trying to convert datatypes for less memory usage
1 max
0 min
22623008 memory usage
2827876  new memory usage| the difference ->  8.0

In [ ]:
check_size_dtypes(df[' URG Flag Count'])

1 max
0 min
2827876 This is the memory usage
2609994    0
790365     0
1633138    1
1556353    0
2406129    0
2562419    0
1265329    0
2061161    0
408204     0
1097417    0
1261376    0
518200     0
1439302    0
2608273    0
1944392    0
1186564    1
647139     0
2474416    0
1065607    0
717069     0
Name:  URG Flag Count, dtype: int8

In [ ]:
print_title(' Average Packet Size')

---------------  Average Packet Size -----------------
---------------  Average Packet Size -----------------
---------------  Average Packet Size -----------------
---------------  Average Packet Size -----------------
---------------  Average Packet Size -----------------

In [ ]:
check_size_dtypes(df[' Average Packet Size'])

3893.333333 max
0.0 min
22623008 This is the memory usage
1216185     13.750000
198535      89.750000
655468      77.000000
1607712      0.000000
1976036      0.000000
394641       3.000000
196155       0.000000
1943963      0.000000
1763789     64.250000
2668271      0.000000
2207396     76.000000
1682955    109.000000
1645099     92.500000
1962571    242.666667
2436260    919.230769
2013578     75.250000
407316       3.000000
2585286    323.666667
509498     224.654546
1960954     35.833333
Name:  Average Packet Size, dtype: float64

In [ ]:
df[' Average Packet Size'] = convert_datatypes(df[' Average Packet Size'], 'float32')
check_size_dtypes(df[' Average Packet Size'])

Trying to convert datatypes for less memory usage
3893.333333 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
3893.333251953125 max
0.0 min
11311504 This is the memory usage
971426      56.750000
2520182    187.714279
28135      833.071411
1084619      9.000000
661681      53.450001
1361954      3.000000
2396906    919.461548
692129      84.500000
1615765     92.000000
791945      90.500000
2047999    121.250000
1094064     63.750000
2206803      5.333333
249877      86.500000
1425069      3.000000
316723       5.000000
1149388     69.000000
324944       5.000000
444979       3.000000
437160       3.000000
Name:  Average Packet Size, dtype: float32

In [ ]:
check_size_dtypes(df[' Avg Fwd Segment Size'])

df[' Avg Fwd Segment Size'] = convert_datatypes(df[' Avg Fwd Segment Size'], 'float32')
                  
check_size_dtypes(df[' Avg Fwd Segment Size'])

5940.857143 max
0.0 min
22623008 This is the memory usage
678412      10.333333
2199640     45.500000
1561736     27.000000
475086       2.000000
1159579      6.000000
2269051      0.000000
191334       6.000000
2601584     27.666667
1624796      6.000000
600529      66.812500
1636973     15.500000
2302204     54.000000
2325867     64.500000
100605       8.666667
2155046      6.000000
2315328      6.000000
332663       2.000000
2501847      0.000000
825143       6.000000
1827479    292.333333
Name:  Avg Fwd Segment Size, dtype: float64
Trying to convert datatypes for less memory usage
5940.857143 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
5940.85693359375 max
0.0 min
11311504 This is the memory usage
1756880      15.500000
1173148      30.000000
2189864      13.500000
2376825      53.428570
1917430      46.000000
415379        0.000000
2441752       0.000000
1148573       0.000000
104171     1375.000000
2603883     140.000000
2194442      48.900002
2571860      44.500000
792829       47.000000
1566331      41.444443
2440643       0.000000
1425813       2.000000
1592909       6.000000
1048953       0.000000
2748154      45.000000
1677705       6.000000
Name:  Avg Fwd Segment Size, dtype: float32

In [ ]:
check_size_dtypes(df[ 'Subflow Fwd Packets']) 
df[ 'Subflow Fwd Packets'] = convert_datatypes(df[ 'Subflow Fwd Packets'], 'int32')

219759 max
1 min
22623008 This is the memory usage
374563      1
2666847     1
2755790     2
1182075     1
1211474     1
2263248     7
1235037    13
985287      4
1451289     2
2787176     2
2583499     1
1626836     1
2115544     2
649213      3
1262593    19
2452233     2
2343553     7
423397      1
368185      1
246826      2
Name: Subflow Fwd Packets, dtype: int64
Trying to convert datatypes for less memory usage
219759 max
1 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0

In [ ]:
check_size_dtypes(df[ 'Subflow Fwd Packets'])

219759 max
1 min
11311504 This is the memory usage
999149      2
489029     14
812023      2
1254210     2
849728      9
396843      1
328975      1
1512882    22
902783      1
905627      1
2489342     1
1816415     2
918792      2
54861       3
2073229     4
1869678     2
1797750     2
1139908     1
2689378     2
1243005     2
Name: Subflow Fwd Packets, dtype: int32

In [ ]:
check_size_dtypes(df[' Fwd Header Length.1'])
df[' Fwd Header Length.1'] = normalize(df[' Fwd Header Length.1'])
df[' Fwd Header Length.1'] = convert_datatypes(df[' Fwd Header Length.1'], 'float32')
check_size_dtypes(df[' Fwd Header Length.1'])

4644908 max
-32212234632 min
22623008 This is the memory usage
1285605       40
416641        40
789527        32
30469         72
2302262      144
159554        72
2367791       64
1840130    26912
603479        52
1921249       32
1424785       48
2642643      232
1980723       88
1468626      252
846271        32
1251272       64
732694       740
1278345       64
2682187       64
2657026       32
Name:  Fwd Header Length.1, dtype: int64
Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
100.0 max
0.0 min
11311504 This is the memory usage
1849470    99.985588
1651004    99.985580
2172626    99.985588
2630382    99.985580
1878604    99.985580
2003042    99.985580
1806577    99.985580
263603     99.985580
2353727    99.985580
156891     99.985580
2152294    99.985588
2081610    99.985580
2640150    99.985580
15704      99.985580
825902     99.985580
2120439    99.985580
93953      99.985580
2382440    99.985580
214399     99.985580
2173684    99.985580
Name:  Fwd Header Length.1, dtype: float32

In [ ]:
check_size_dtypes(df[' Fwd Header Length.1'])

100.0 max
0.0 min
11311504 This is the memory usage
279271     99.98558
2786676    99.98558
1663756    99.98558
1580799    99.98558
2480888    99.98558
1927986    99.98558
1088012    99.98558
1835897    99.98558
1895844    99.98558
782922     99.98558
1617619    99.98558
1779513    99.98558
1661657    99.98558
185579     99.98558
2427050    99.98558
1059327    99.98558
2579526    99.98558
2078065    99.98558
966579     99.98558
2636671    99.98558
Name:  Fwd Header Length.1, dtype: float32

In [ ]:
check_size_dtypes(df[' Subflow Fwd Bytes'])
df[' Subflow Fwd Bytes'] = convert_datatypes(df[' Subflow Fwd Bytes'], 'int32')

12870338 max
0 min
22623008 This is the memory usage
1234203     703
1543275       0
2263381     364
2002565      74
1077729       6
2706292      68
2047860     168
2508952     892
332416        2
1687578    1072
273678       52
2636867     105
508663     1543
1246481    5099
1894651       0
552301       48
2085310       0
2283252     351
900454     1204
2500163      36
Name:  Subflow Fwd Bytes, dtype: int64
Trying to convert datatypes for less memory usage
12870338 max
0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0

In [ ]:
check_size_dtypes(df[' Subflow Fwd Bytes'])

# df[' Subflow Bwd Packets'] = convert_datatypes(df[' Subflow Bwd Packets'])

12870338 max
0 min
11311504 This is the memory usage
1131234    152
1077218    132
1995651    106
2157954     52
1792820    704
2397193    338
159978      62
1325213      6
1169545     92
1459821    120
1016735     56
2769877    172
2772183     88
556700      52
2107227      0
342346       2
1163516      0
643541      31
1304907     72
1965224    840
Name:  Subflow Fwd Bytes, dtype: int32

In [ ]:
check_size_dtypes(df[' Subflow Bwd Bytes'] )
df[' Subflow Bwd Bytes'] = normalize(df[' Subflow Bwd Bytes'])
df[' Subflow Bwd Bytes'] = convert_datatypes(df[' Subflow Bwd Bytes'], 'float32')
check_size_dtypes(df[' Subflow Bwd Bytes'] )

655453030 max
0 min
22623008 This is the memory usage
1079409      330
798497         0
2390764    11595
332779         6
1554239        0
1540505    52701
338067         6
2177427      206
652764       126
943332         0
778423       330
977750         0
2317973        0
436986         6
1512711      627
1484727      204
1694708    50262
762820         6
1992935      228
284652       183
Name:  Subflow Bwd Bytes, dtype: int64
Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
100.0 max
0.0 min
11311504 This is the memory usage
780073     5.031634e-04
230877     0.000000e+00
423117     9.153974e-07
2440020    0.000000e+00
2364788    1.769005e-03
1391276    4.119288e-05
2577939    1.844709e-02
801747     0.000000e+00
908647     2.441060e-05
1033385    1.762140e-04
720822     1.617202e-05
263555     0.000000e+00
1962258    6.044979e-03
1848730    3.875182e-05
513100     6.285729e-05
2827192    2.196954e-05
1203169    1.342583e-05
1124612    9.153974e-07
154087     1.770836e-03
2777176    3.783643e-05
Name:  Subflow Bwd Bytes, dtype: float32

In [ ]:
check_size_dtypes(df[' act_data_pkt_fwd'])
df[' act_data_pkt_fwd'] = convert_datatypes(df[' act_data_pkt_fwd'], 'int32')

213557 max
0 min
22623008 This is the memory usage
1631419    10
136426      2
2591279     3
1691216     2
870246      0
1716735     0
179494      7
2133818     1
145587      5
645927      1
1116907     1
2091151     1
29315       6
1579287     0
1838335     9
929993      4
1371459     1
1343891     1
2238421     1
461245      1
Name:  act_data_pkt_fwd, dtype: int64
Trying to convert datatypes for less memory usage
213557 max
0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0

In [ ]:

df[' min_seg_size_forward'] = normalize(df[' min_seg_size_forward'])
df[' min_seg_size_forward'] = convert_datatypes(df[' min_seg_size_forward'], 'float32')
check_size_dtypes(df[' min_seg_size_forward'])

Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
100.0 max
0.0 min
11311504 This is the memory usage
1041982    99.999977
270422     99.999985
757023     99.999977
1410288    99.999977
2791826    99.999977
465256     99.999985
1702146    99.999977
35554      99.999977
852431     99.999977
1152720    99.999977
1957895    99.999977
2448361    99.999977
2128423    99.999977
2465680    99.999977
318696     99.999977
41825      99.999977
1519180    99.999977
1798099    99.999977
1559138    99.999977
987826     99.999977
Name:  min_seg_size_forward, dtype: float32

In [ ]:
# check_size_dtypes(df['Init_Win_bytes_forward'])
df['Init_Win_bytes_forward'] = normalize(df['Init_Win_bytes_forward'])
df['Init_Win_bytes_forward'] = convert_datatypes(df['Init_Win_bytes_forward'], 'float32')
check_size_dtypes(df['Init_Win_bytes_forward'])

Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
100.0 max
0.0 min
11311504 This is the memory usage
1045823      0.000000
1537632      1.445007
623318      12.501526
1410939      1.564026
540761       0.193787
1845237     44.557190
323806       1.564026
2221341     44.557190
342293       1.564026
462165       0.000000
2739554      0.000000
858385       0.178528
156112      12.501526
1520760      0.000000
1282450      0.000000
2183228    100.000000
14707        0.000000
1813960     12.501526
1617879      0.001526
1556857      0.000000
Name: Init_Win_bytes_forward, dtype: float32

In [ ]:
check_size_dtypes(df[' Init_Win_bytes_backward'])
df[' Init_Win_bytes_backward'] = normalize(df[' Init_Win_bytes_backward'])
df[' Init_Win_bytes_backward'] = convert_datatypes(df[' Init_Win_bytes_backward'],'float32')
check_size_dtypes(df[' Init_Win_bytes_backward'])

65535 max
-1 min
22623008 This is the memory usage
2208627    235
1805149    143
152894      -1
231688     255
742482      -1
658061      -1
1547379     23
2151365    243
1557554    236
1736689     -1
2399468    235
1868011     -1
916253      -1
1555370     -1
352106       0
2263526    235
123527     229
2225691    235
2197140    351
979810      -1
Name:  Init_Win_bytes_backward, dtype: int64
Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
100.0 max
0.0 min
11311504 This is the memory usage
2791870     0.000000
1665790     0.000000
2135450     0.000000
1040811     0.000000
1239756     0.000000
2128348     0.000000
1075602     0.000000
1521320     0.000000
2794986     0.000000
926825      0.000000
739351     44.557190
979637      0.363159
2553785     0.000000
197629      7.350159
2153173     0.000000
722436     17.176819
1992123     0.001526
827744      0.000000
412088      0.001526
1708628     0.000000
Name:  Init_Win_bytes_backward, dtype: float32

In [ ]:
check_size_dtypes(df['Idle Mean']) 
df['Idle Mean'] = normalize(df['Idle Mean'])
df['Idle Mean'] = convert_datatypes(df['Idle Mean'], 'float16')
check_size_dtypes(df['Idle Mean'])
df['Idle Mean'].value_counts()

120000000.0 max
0.0 min
22623008 This is the memory usage
275134           0.0
920635           0.0
2065507          0.0
1762438    7519121.5
1141244          0.0
1948971          0.0
2392929          0.0
468349           0.0
436031           0.0
1833322          0.0
1314600          0.0
947344           0.0
2518068          0.0
992828           0.0
122281           0.0
1488362          0.0
1979834          0.0
731757           0.0
1135727          0.0
1119784          0.0
Name: Idle Mean, dtype: float64
Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
5655752  new memory usage| the difference ->  4.0
100.0 max
0.0 min
5655752 This is the memory usage
1149510     0.000000
2418362    81.500000
1601941    11.164062
2193394    99.187500
1686713     0.000000
1098464     0.000000
1105027     0.000000
138294     37.656250
9616        0.000000
2306948     0.000000
325828      0.000000
1698388    28.171875
67318       0.000000
720173      0.000000
2256646     8.242188
585131      0.000000
958943      0.000000
1094086     0.000000
869728      0.000000
2641534     0.000000
Name: Idle Mean, dtype: float16

0.000000     2260593
8.335938       58029
8.328125       19623
8.500000       14661
83.312500       8603
              ...
53.718750          1
12.593750          1
14.507812          1
8.781250           1
31.875000          1
Name: Idle Mean, Length: 4504, dtype: int64

In [ ]:
check_size_dtypes(df[' Idle Std'])
df[' Idle Std'] = normalize(df[' Idle Std'])
# df[' Idle Std'] = 
df[' Idle Std'] = convert_datatypes(df[' Idle Std'], 'float32')
check_size_dtypes(df[' Idle Std'])

76900000.0 max
0.0 min
22623008 This is the memory usage
777372         0.00000
2613892        0.00000
2446467    34361.89014
2800232        0.00000
2674550        0.00000
135898         0.00000
513560         0.00000
2317973        0.00000
2682862        0.00000
470554         0.00000
1182035        0.00000
1079595        0.00000
812662         0.00000
1281599    28017.45470
2747460        0.00000
887086         0.00000
468048         0.00000
154676         0.00000
1089925        0.00000
1017364        0.00000
Name:  Idle Std, dtype: float64
Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
100.0 max
0.0 min
11311504 This is the memory usage
2044564    0.0
1376264    0.0
1119406    0.0
2238281    0.0
1836660    0.0
470774     0.0
1627736    0.0
1240686    0.0
867030     0.0
86976      0.0
1883316    0.0
841031     0.0
2113004    0.0
2817662    0.0
932189     0.0
1178492    0.0
183952     0.0
1784528    0.0
136782     0.0
2801330    0.0
Name:  Idle Std, dtype: float32

In [ ]:
check_size_dtypes(df[' Idle Max'])
df[' Idle Max'] = normalize(df[' Idle Max'])
df[' Idle Max'] = convert_datatypes(df[' Idle Max'], 'int32')
check_size_dtypes(df[' Idle Max'])

df[' Idle Max'].value_counts()

120000000 max
0 min
22623008 This is the memory usage
770904            0
17945             0
309842            0
1250669           0
1315128           0
1456001           0
1224939    72830428
2412162    84800000
282896      5039527
502756            0
504542            0
1505549           0
433185            0
1389648           0
2282401           0
2246695    84800000
1584494           0
547973      9956389
2279715    84700000
2770224           0
Name:  Idle Max, dtype: int64
Trying to convert datatypes for less memory usage
100.0 max
0.0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0
100 max
0 min
11311504 This is the memory usage
327348      0
72566       0
2267682    82
2178876     0
2125052     0
88710       0
614405      0
1054314     0
2731812     0
1124500     0
2293563    70
224587      0
1559718     0
371550      0
1220465     0
1468942     0
2692244     0
1016931     0
230200      0
230712      0
Name:  Idle Max, dtype: int32

0      2260593
8       188495
4        52001
82       43133
70       25801
        ...
93         397
92         393
86         371
94         367
100        145
Name:  Idle Max, Length: 98, dtype: int64

In [ ]:
check_size_dtypes(df[' Idle Min'])
normalize(df[' Idle Min'])
df[' Idle Min'] = convert_datatypes(df[' Idle Min'], 'int32')

120000000 max
0 min
22623008 This is the memory usage
336101            0
1193519           0
597788            0
1610776           0
1095443           0
1262342           0
784890      9986338
2415532           0
54066       6100851
1361354           0
2696902           0
1393976           0
2671582           0
2323112    68000000
689449            0
1183197           0
512056            0
1600577           0
2661579           0
2026671           0
Name:  Idle Min, dtype: int64
Trying to convert datatypes for less memory usage
120000000 max
0 min
22623008 memory usage
11311504  new memory usage| the difference ->  2.0

In [ ]:
df[' Idle Min'].value_counts()

0            2260593
10000000       23056
100000000       8597
98300000        7247
98700000        6262
              ...
5571878            1
9864716            1
8973761            1
5053823            1
58761196           1
Name:  Idle Min, Length: 223888, dtype: int64

In [ ]:
df[' Total Fwd Packets'].value_counts()

2      1071198
1       700222
3       204077
4       126891
5        87850
        ...
894          1
893          1
892          1
891          1
622          1
Name:  Total Fwd Packets, Length: 1432, dtype: int64

In [ ]:
22645944 / 5661486

4.0

In [ ]:
# 65535, 0
(65535 - 0) / 65535 * 100

100.0

In [ ]:
df.info()
df.sample(20)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2827876 entries, 0 to 2830742
Data columns (total 79 columns):
 #   Column                        Dtype
---  ------                        -----
 0    Destination Port             float64
 1    Flow Duration                float32
 2    Total Fwd Packets            int32
 3    Total Backward Packets       int32
 4   Total Length of Fwd Packets   int64
 5    Total Length of Bwd Packets  int64
 6    Fwd Packet Length Max        int32
 7    Fwd Packet Length Min        int16
 8    Fwd Packet Length Mean       float32
 9    Fwd Packet Length Std        float32
 10  Bwd Packet Length Max         int16
 11   Bwd Packet Length Min        int16
 12   Bwd Packet Length Mean       float16
 13   Bwd Packet Length Std        float32
 14  Flow Bytes/s                  float32
 15   Flow Packets/s               float32
 16   Flow IAT Mean                float32
 17   Flow IAT Std                 float32
 18   Flow IAT Max                 int32
 19   Flow IAT Min                 int32
 20  Fwd IAT Total                 float32
 21   Fwd IAT Mean                 float32
 22   Fwd IAT Std                  float32
 23   Fwd IAT Max                  int32
 24   Fwd IAT Min                  float32
 25  Bwd IAT Total                 int32
 26   Bwd IAT Mean                 float64
 27   Bwd IAT Std                  float64
 28   Bwd IAT Max                  int32
 29   Bwd IAT Min                  int64
 30  Fwd PSH Flags                 int8
 31   Bwd PSH Flags                int64
 32   Fwd URG Flags                int64
 33   Bwd URG Flags                int64
 34   Fwd Header Length            int64
 35   Bwd Header Length            float32
 36  Fwd Packets/s                 float32
 37   Bwd Packets/s                float64
 38   Min Packet Length            int16
 39   Max Packet Length            int16
 40   Packet Length Mean           float32
 41   Packet Length Std            float32
 42   Packet Length Variance       float32
 43  FIN Flag Count                int64
 44   SYN Flag Count               int64
 45   RST Flag Count               int64
 46   PSH Flag Count               int64
 47   ACK Flag Count               int8
 48   URG Flag Count               int8
 49   CWE Flag Count               int64
 50   ECE Flag Count               int64
 51   Down/Up Ratio                int64
 52   Average Packet Size          float32
 53   Avg Fwd Segment Size         float32
 54   Avg Bwd Segment Size         float64
 55   Fwd Header Length.1          float32
 56  Fwd Avg Bytes/Bulk            int64
 57   Fwd Avg Packets/Bulk         int64
 58   Fwd Avg Bulk Rate            int64
 59   Bwd Avg Bytes/Bulk           int64
 60   Bwd Avg Packets/Bulk         int64
 61  Bwd Avg Bulk Rate             int64
 62  Subflow Fwd Packets           int32
 63   Subflow Fwd Bytes            int32
 64   Subflow Bwd Packets          int64
 65   Subflow Bwd Bytes            float32
 66  Init_Win_bytes_forward        float32
 67   Init_Win_bytes_backward      float32
 68   act_data_pkt_fwd             int32
 69   min_seg_size_forward         float32
 70  Active Mean                   float64
 71   Active Std                   float64
 72   Active Max                   int64
 73   Active Min                   int64
 74  Idle Mean                     float16
 75   Idle Std                     float32
 76   Idle Max                     int32
 77   Idle Min                     int32
 78   Label                        object
dtypes: float16(2), float32(25), float64(7), int16(5), int32(13), int64(23), int8(3), object(1)
memory usage: 1.1+ GB

          Destination Port   Flow Duration  ...   Idle Min        Label
460954            0.675975       97.975197  ...   10000000       BENIGN
1758162           0.032044        7.564078  ...          0  FTP-Patator
762474            0.122072        1.080437  ...          0       BENIGN
738088            0.122072       16.601877  ...   10007825       BENIGN
700003           54.004730        0.000042  ...          0       BENIGN
424203           50.016022        0.000052  ...          0     PortScan
244233            0.080873        0.045125  ...          0       BENIGN
1334496           0.080873        0.000207  ...          0       BENIGN
2643299           0.675975        4.729495  ...    5299177       BENIGN
643120            0.080873        0.026397  ...          0       BENIGN
734213            0.080873        0.030799  ...          0       BENIGN
854229            0.675975        0.095849  ...          0       BENIGN
320350           11.902037        0.000050  ...          0     PortScan
1854675           0.080873        0.040342  ...          0       BENIGN
2677589           0.080873        0.000187  ...          0       BENIGN
1977965           0.080873        0.000152  ...          0       BENIGN
1665853           0.675975       98.040161  ...    9795482       BENIGN
1743944           0.122072        0.000052  ...          0       BENIGN
1751505           0.675975        4.397148  ...          0       BENIGN
568887            0.187686        0.000120  ...          0       BENIGN

[20 rows x 79 columns]

In [ ]:
target.value_counts()

In [ ]:
X=df.iloc[:,:-1]
X.head(20)
X.shape

(2827876, 78)

In [ ]:
# target = df[' Label']
# X=df.iloc[:,:-1]
def max_min_df(X):
  # X = X.apply(lambda col: ((col - col.min(axis=0)) / col.max(axis=0)))
  X = X.apply(lambda col: (col.astype('float16')), axis=1)
              # meta={' Destination Port': 'float16', ' Flow Duration': 'float16',
              #       ' Total Fwd Packets': 'float16', ' Total Backward Packets': 'float16', 'Total Length of Fwd Packets': 'float16', 
              #       ' Total Length of Bwd Packets': 'float16', ' Fwd Packet Length Max': 'float16', ' Fwd Packet Length Min': 'float16',
              #       ' Fwd Packet Length Mean': 'float16', ' Fwd Packet Length Std': 'float16', 'Bwd Packet Length Max': 'float16', 
              #       ' Bwd Packet Length Min': 'float16', ' Bwd Packet Length Mean': 'float16', ' Bwd Packet Length Std': 'float16', 
              #       'Flow Bytes/s': 'float16', ' Flow Packets/s': 'float16', ' Flow IAT Mean': 'float16', ' Flow IAT Std': 'float16',
              #       ' Flow IAT Max': 'float16', ' Flow IAT Min': 'float16', 'Fwd IAT Total': 'float16', ' Fwd IAT Mean': 'float16',
              #       ' Fwd IAT Std': 'float16', ' Fwd IAT Max': 'float16', ' Fwd IAT Min': 'float16', 'Bwd IAT Total': 'float16',
              #       ' Bwd IAT Mean': 'float16', ' Bwd IAT Std': 'float16', ' Bwd IAT Max': 'float16', ' Bwd IAT Min': 'float16', 
              #       'Fwd PSH Flags': 'float16', ' Bwd PSH Flags': 'float16', ' Fwd URG Flags': 'float16', ' Bwd URG Flags': 'float16', 
              #       ' Fwd Header Length': 'float16', ' Bwd Header Length': 'float16', 'Fwd Packets/s': 'float16', ' Bwd Packets/s': 'float16', 
              #       ' Min Packet Length': 'float16', ' Max Packet Length': 'float16', ' Packet Length Mean': 'float16',
              #       ' Packet Length Std': 'float16', ' Packet Length Variance': 'float16', 'FIN Flag Count': 'float16', 
              #       ' SYN Flag Count': 'float16', ' RST Flag Count': 'float16', ' PSH Flag Count': 'float16', 
              #       ' ACK Flag Count': 'float16', ' URG Flag Count': 'float16', ' CWE Flag Count': 'float16', 
              #       ' ECE Flag Count': 'float16', ' Down/Up Ratio': 'float16', ' Average Packet Size': 'float16',
              #       ' Avg Fwd Segment Size': 'float16', ' Avg Bwd Segment Size': 'float16', ' Fwd Header Length.1': 'float16',
              #       'Fwd Avg Bytes/Bulk': 'float16', ' Fwd Avg Packets/Bulk': 'float16', ' Fwd Avg Bulk Rate': 'float16',
              #       ' Bwd Avg Bytes/Bulk': 'float16', ' Bwd Avg Packets/Bulk': 'float16', 'Bwd Avg Bulk Rate': 'float16', 
              #       'Subflow Fwd Packets': 'float16', ' Subflow Fwd Bytes': 'float16', ' Subflow Bwd Packets': 'float16', 
              #       ' Subflow Bwd Bytes': 'float16', 'Init_Win_bytes_forward': 'float16', ' Init_Win_bytes_backward': 'float16',
              #       ' act_data_pkt_fwd': 'float16', ' min_seg_size_forward': 'float16', 'Active Mean': 'float16', ' Active Std': 'float16',
              #       ' Active Max': 'float16', ' Active Min': 'float16', 'Idle Mean': 'float16', ' Idle Std': 'float16', ' Idle Max': 'float16',
              #       ' Idle Min': 'float16'})

  
  return X
def normalize(df):
  normalized_df=((df-df.min())/(df.max()-df.min())) * df.max()
  return normalized_df

# df.drop[' Label']
# X = max_min_df(X)

In [ ]:
ndf = normalize(X)

In [ ]:
ndf = max_min_df(ndf)

In [ ]:
# ndf.sample(10)
ndf.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 78 entries,  Destination Port to  Idle Min
dtypes: float64(78)

In [ ]:

del df[' Fwd Avg Bytes/Bulk']
del df[' SYN Flag Count']
del df['Bwd Avg Bulk Rate']
del df[' RST Flag Count']
del df[' Fwd Avg Packets/Bulk']
del df[' Fwd Avg Bulk Rate']
del df[' ECE Flag Count']
del df[' CWE Flag Count']
del df[' Bwd URG Flags']
del df[' Bwd PSH Flags']
del df[' Bwd Avg Packets/Bulk']
del df[' Bwd Avg Bytes/Bulk']
del df[' Bwd Packets/s']
del df['Active Mean']
del df[' Active Min']
del df[' Total Length of Bwd Packets']
del df[ ' Bwd IAT Std']
del df[ ' Bwd IAT Mean']
del df[' Active Std']
del df[ ' Bwd IAT Min']
del df[' Down/Up Ratio']
del df[' Active Max']
del df[' Fwd URG Flags']

KeyError: ignored

In [ ]:
ndf.columns

NameError: ignored

In [ ]:
target = df[' Label']
from sklearn.preprocessing import LabelEncoder

def transform_target(target):
  SS = LabelEncoder()
  X = SS.fit_transform(target)
  # X = normalize(X)
  X = X.astype('int8')
  return X

target = transform_target(target)
# target.value_counts
# dataframes = dd.concat([ndf, target])
# dataframes[' Label'].shape

In [ ]:
# ndf = dd.concat([ndf, target])
# ndf[' Label']
ndf.columns
ndf.head(10)

     0   ACK Flag Count  ...  Subflow Fwd Packets  Total Length of Fwd Packets
0  NaN           1000.0  ...             0.004551                     0.000930
1  NaN           1000.0  ...             0.000000                     0.000465
2  NaN           1000.0  ...             0.000000                     0.000465
3  NaN           1000.0  ...             0.000000                     0.000465
4  NaN           1000.0  ...             0.004551                     0.000930
5  NaN           1000.0  ...             0.004551                     0.000930
6  NaN           1000.0  ...             0.004551                     0.000930
7  NaN           1000.0  ...             0.000000                     0.000465
8  NaN           1000.0  ...             0.004551                     0.000930
9  NaN           1000.0  ...             0.004551                     0.002869

[10 rows x 56 columns]

In [ ]:
ndf = ndf.iloc[: , 1:]

In [ ]:
ndf.dropna()

Dask DataFrame Structure:
               Destination Port  Flow Duration  Total Fwd Packets  Total Backward Packets Total Length of Fwd Packets  Fwd Packet Length Max  Fwd Packet Length Min  Fwd Packet Length Mean  Fwd Packet Length Std Bwd Packet Length Max  Bwd Packet Length Min  Bwd Packet Length Mean  Bwd Packet Length Std Flow Bytes/s  Flow Packets/s  Flow IAT Mean  Flow IAT Std  Flow IAT Max  Flow IAT Min Fwd IAT Total  Fwd IAT Mean  Fwd IAT Std  Fwd IAT Max  Fwd IAT Min Bwd IAT Total  Bwd IAT Max Fwd PSH Flags  Fwd Header Length  Bwd Header Length Fwd Packets/s  Min Packet Length  Max Packet Length  Packet Length Mean  Packet Length Std  Packet Length Variance FIN Flag Count  PSH Flag Count  ACK Flag Count  URG Flag Count  Average Packet Size  Avg Fwd Segment Size  Avg Bwd Segment Size  Fwd Header Length.1 Subflow Fwd Packets  Subflow Fwd Bytes  Subflow Bwd Packets  Subflow Bwd Bytes Init_Win_bytes_forward  Init_Win_bytes_backward  act_data_pkt_fwd  min_seg_size_forward Idle Mean  Idle Std  Idle Max  Idle Min
npartitions=3
                        float16        float16            float16                 float16                     float16                float16                float16                 float16                float16               float16                float16                 float16                float16      float16         float16        float16       float16       float16       float16       float16       float16      float16      float16      float16       float16      float16       float16            float16            float16       float16            float16            float16             float16            float16                 float16        float16         float16         float16         float16              float16               float16               float16              float16             float16            float16              float16            float16                float16                  float16           float16               float16   float16   float16   float16   float16
                            ...            ...                ...                     ...                         ...                    ...                    ...                     ...                    ...                   ...                    ...                     ...                    ...          ...             ...            ...           ...           ...           ...           ...           ...          ...          ...          ...           ...          ...           ...                ...                ...           ...                ...                ...                 ...                ...                     ...            ...             ...             ...             ...                  ...                   ...                   ...                  ...                 ...                ...                  ...                ...                    ...                      ...               ...                   ...       ...       ...       ...       ...
                            ...            ...                ...                     ...                         ...                    ...                    ...                     ...                    ...                   ...                    ...                     ...                    ...          ...             ...            ...           ...           ...           ...           ...           ...          ...          ...          ...           ...          ...           ...                ...                ...           ...                ...                ...                 ...                ...                     ...            ...             ...             ...             ...                  ...                   ...                   ...                  ...                 ...                ...                  ...                ...                    ...                      ...               ...                   ...       ...       ...       ...       ...
                            ...            ...                ...                     ...                         ...                    ...                    ...                     ...                    ...                   ...                    ...                     ...                    ...          ...             ...            ...           ...           ...           ...           ...           ...          ...          ...          ...           ...          ...           ...                ...                ...           ...                ...                ...                 ...                ...                     ...            ...             ...             ...             ...                  ...                   ...                   ...                  ...                 ...                ...                  ...                ...                    ...                      ...               ...                   ...       ...       ...       ...       ...
Dask Name: dropna, 96 tasks

In [ ]:
ndf.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 55 entries,  ACK Flag Count to Total Length of Fwd Packets
dtypes: float16(55)

In [ ]:
# convert_datatypes(df[' Total Fwd Packets'],'' )
convert_datatypes(df[' Destination Port'],'' )

Trying to convert datatypes for less memory usage
dd.Scalar<series-..., dtype=int64> max
dd.Scalar<series-..., dtype=int64> min

In [ ]:
X.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 78 entries,  Destination Port to  Idle Min
dtypes: float64(24), int64(54)

In [ ]:
tag = df.groupby(' Label')[' Label'].agg('count')
print(tag)
target = df[' Label']
target.value_counts().plot(kind='bar')
plt.xticks([0,1,2,3,4,5,6,7,8,9,10,11,12,13], 
           ['Portscan','BENIGN', '3',                                    
            '4Portscan','5BENIGN', '6',
            '7Portscan','8BENIGN', '9',
            '10Portscan','11BENIGN', '12', 
            '13Portscan','Bdd' ])
plt.xlabel("Gender")
plt.ylabel("Frequency")
plt.show()

In [ ]:
df.memory_usage(index=True).sum() 
import sys
sys.getsizeof(df)

1719151847

In [ ]:
print(df.shape)
print(df.columns)
print(df.info)
df.head(10)

del df['Fwd Avg Bytes/Bulk']
del df[' SYN Flag Count']
del df['Bwd Avg Bulk Rate']
del df[' RST Flag Count']
del df[' Fwd Avg Packets/Bulk']
del df[' Fwd Avg Bulk Rate']
del df[' ECE Flag Count']
del df[' CWE Flag Count']
del df[' Bwd URG Flags']
del df[' Bwd PSH Flags']
del df[' Bwd Avg Packets/Bulk']

(2830743, 79)
Index([' Destination Port', ' Flow Duration', ' Total Fwd Packets',
       ' Total Backward Packets', 'Total Length of Fwd Packets',
       ' Total Length of Bwd Packets', ' Fwd Packet Length Max',
       ' Fwd Packet Length Min', ' Fwd Packet Length Mean',
       ' Fwd Packet Length Std', 'Bwd Packet Length Max',
       ' Bwd Packet Length Min', ' Bwd Packet Length Mean',
       ' Bwd Packet Length Std', 'Flow Bytes/s', ' Flow Packets/s',
       ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max', ' Flow IAT Min',
       'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std', ' Fwd IAT Max',
       ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean', ' Bwd IAT Std',
       ' Bwd IAT Max', ' Bwd IAT Min', 'Fwd PSH Flags', ' Bwd PSH Flags',
       ' Fwd URG Flags', ' Bwd URG Flags', ' Fwd Header Length',
       ' Bwd Header Length', 'Fwd Packets/s', ' Bwd Packets/s',
       ' Min Packet Length', ' Max Packet Length', ' Packet Length Mean',
       ' Packet Length Std', ' Packet Length Variance', 'FIN Flag Count',
       ' SYN Flag Count', ' RST Flag Count', ' PSH Flag Count',
       ' ACK Flag Count', ' URG Flag Count', ' CWE Flag Count',
       ' ECE Flag Count', ' Down/Up Ratio', ' Average Packet Size',
       ' Avg Fwd Segment Size', ' Avg Bwd Segment Size',
       ' Fwd Header Length.1', 'Fwd Avg Bytes/Bulk', ' Fwd Avg Packets/Bulk',
       ' Fwd Avg Bulk Rate', ' Bwd Avg Bytes/Bulk', ' Bwd Avg Packets/Bulk',
       'Bwd Avg Bulk Rate', 'Subflow Fwd Packets', ' Subflow Fwd Bytes',
       ' Subflow Bwd Packets', ' Subflow Bwd Bytes', 'Init_Win_bytes_forward',
       ' Init_Win_bytes_backward', ' act_data_pkt_fwd',
       ' min_seg_size_forward', 'Active Mean', ' Active Std', ' Active Max',
       ' Active Min', 'Idle Mean', ' Idle Std', ' Idle Max', ' Idle Min',
       ' Label'],
      dtype='object')
<bound method DataFrame.info of           Destination Port   Flow Duration  ...   Idle Min   Label
0                    54865               3  ...          0  BENIGN
1                    55054             109  ...          0  BENIGN
2                    55055              52  ...          0  BENIGN
3                    46236              34  ...          0  BENIGN
4                    54863               3  ...          0  BENIGN
...                    ...             ...  ...        ...     ...
2830738                 53           32215  ...          0  BENIGN
2830739                 53             324  ...          0  BENIGN
2830740              58030              82  ...          0  BENIGN
2830741                 53         1048635  ...          0  BENIGN
2830742                 53           94939  ...          0  BENIGN

[2830743 rows x 79 columns]>

array([0, 0, 0, ..., 0, 0, 0], dtype=int8)

In [ ]:
from sklearn.preprocessing import LabelEncoder

target = df[' Label']
le = LabelEncoder()
Y=le.fit_transform(target)

# print(np.average(Y))
# X=df.iloc[:,:-1]
# X = X.astype(np.float16 ,copy=False)

# X = X.apply(lambda col: ((col - col.min(axis=0)) / col.max(axis=0)))
# X = target.apply(lambda col: SS.fit_transform(col), axis=0, result_type='expand')

# X.drop(X.columns[31], axis=1,inplace=True)
# X.drop(X.columns[32], axis=1,inplace=True)
# 52
# 53

# 56 --- nan
# 57 --- nan
# 58 --- nan
# 59 --- nan
# 60 --- nan
# 61 --- nan
# 62 --- 1.0
# 63 --- 1.0
# 64 --- 1.0
# 65 --- 1.0
# 66 --- 1.0
# 67 --- 1.0
# 68 --- 1.0
# 69 --- inf

# print(X.shape)
# X.dropna()
# print(X.shape,np.max(np.max(X).astype(np.float64)))
count = -1
for i in np.max(ndf).astype(np.float16):
    count += 1
    print(count, '---',i)

0 --- 1.0
1 --- 1.0
2 --- 1.0
3 --- 1.0
4 --- 1.0
5 --- 1.0
6 --- 1.0
7 --- 1.0
8 --- 1.0
9 --- 1.0
10 --- 1.0
11 --- 1.0
12 --- 1.0
13 --- 0.0
14 --- 0.0
15 --- 1.0
16 --- 1.0
17 --- 1.0
18 --- 1.0
19 --- 1.0
20 --- 1.0
21 --- 1.0
22 --- 1.0
23 --- 1.0
24 --- 1.0
25 --- 1.0
26 --- 1.0
27 --- 0.01000213623046875
28 --- 0.0100555419921875
29 --- 1.0
30 --- 1.0
31 --- 1.0
32 --- 1.0
33 --- 1.0
34 --- 1.0
35 --- 1.0
36 --- 1.0
37 --- 1.0
38 --- 1.0
39 --- 1.0
40 --- 1.0
41 --- 1.0
42 --- 0.01000213623046875
43 --- 1.0
44 --- 1.0
45 --- 1.0
46 --- 1.0
47 --- 0.99853515625
48 --- 0.99853515625
49 --- 1.0
50 --- 0.01000213623046875
51 --- 1.0
52 --- 1.0
53 --- 1.0
54 --- 1.0

In [ ]:
# dfn[' Destination Port'] = (dfn[' Destination Port'] - dfn[' Destination Port'].min(axis=0)) / dfn[' Destination Port'].max(axis=0)
# dfn[' PSH Flag Count'] = (dfn[' PSH Flag Count'] - dfn[' PSH Flag Count'].min(axis=0)) / dfn[' PSH Flag Count'].max(axis=0)
# 
# dfn[' min_seg_size_forward'] = (dfn[' min_seg_size_forward'] - dfn[' min_seg_size_forward'].min(axis=0)) / dfn[' min_seg_size_forward'].max(axis=0)
# dfn[' Avg Bwd Segment Size'] = (dfn[' Avg Bwd Segment Size'] - dfn[' Avg Bwd Segment Size'].min(axis=0)) / dfn[' Avg Bwd Segment Size'].max(axis=0)
# 
# dfn['Init_Win_bytes_forward'] = (dfn['Init_Win_bytes_forward'] - dfn['Init_Win_bytes_forward'].min(axis=0)) / dfn['Init_Win_bytes_forward'].max(axis=0)
# dfn[' Bwd Packet Length Mn'] = (dfn[' Bwd Packet Length Mn'] - dfn[' Bwd Packet Length Mn'].min(axis=0)) / dfn[' Bwd Packet Length Mn'].max(axis=0)
# 
# dfn['Bwd Packet Length Max'] = (dfn['Bwd Packet Length Max'] - dfn['Bwd Packet Length Max'].min(axis=0)) / dfn['Bwd Packet Length Max'].max(axis=0)
# 
# dfn[' Bwd Packet Length Min'] = (dfn[' Bwd Packet Length Min'] - dfn[' Bwd Packet Length Min'].min(axis=0)) / dfn[' Bwd Packet Length Min'].max(axis=0)
# dfn[' Bwd Packet Length Std'] = (dfn[' Destination Port'] - dfn[' Destination Port'].min(axis=0)) / dfn[' Destination Port'].max(axis=0)
# dfn[' Destination Port'] = (dfn[' Destination Port'] - dfn[' Destination Port'].min(axis=0)) / dfn[' Destination Port'].max(axis=0)
# dfn[' Destination Port'] = (dfn[' Destination Port'] - dfn[' Destination Port'].min(axis=0)) / dfn[' Destination Port'].max(axis=0)
# dfn[' Destination Port'] = (dfn[' Destination Port'] - dfn[' Destination Port'].min(axis=0)) / dfn[' Destination Port'].max(axis=0)
# dfn[' Destination Port'] = (dfn[' Destination Port'] - dfn[' Destination Port'].min(axis=0)) / dfn[' Destination Port'].max(axis=0)
# dfn[' Destination Port'] = (dfn[' Destination Port'] - dfn[' Destination Port'].min(axis=0)) / dfn[' Destination Port'].max(axis=0)
# dfn[' Destination Port'] = (dfn[' Destination Port'] - dfn[' Destination Port'].min(axis=0)) / dfn[' Destination Port'].max(axis=0)
# dfn[' Destination Port'] = (dfn[' Destination Port'] - dfn[' Destination Port'].min(axis=0)) / dfn[' Destination Port'].max(axis=0)
# dfn[' Destination Port'] = (dfn[' Destination Port'] - dfn[' Destination Port'].min(axis=0)) / dfn[' Destination Port'].max(axis=0)
# dfn[' Destination Port'] = (dfn[' Destination Port'] - dfn[' Destination Port'].min(axis=0)) / dfn[' Destination Port'].max(axis=0)
# dfn[' Destination Port'] = (dfn[' Destination Port'] - dfn[' Destination Port'].min(axis=0)) / dfn[' Destination Port'].max(axis=0) 


 #, result_type='expand')
# dfn = dfn.apply(lambda col: SS.fit_transform(col.astype(str)), axis=0, result_type='expand')

SyntaxError: ignored

In [ ]:
X=df.iloc[:,:-1]
X = X.apply(lambda col: (col.astype('float16')))

In [ ]:
X.info()
X.head(15)

In [ ]:
print(X.head(10))
SS = LabelEncoder()
X = X.apply(lambda col: ((col - col.min(axis=0)) / col.max(axis=0)))
# X = X.apply(lambda col: (col.astype('int8')))

# X = X.apply(lambda col: SS.fit_transform(col), axis=0, result_type='expand')
X.head(10)

    Destination Port   Flow Duration  ...   Idle Max   Idle Min
0                 81               3  ...          0          0
1                 14             109  ...          0          0
2                 15              52  ...          0          0
3               -100              34  ...          0          0
4                 79               3  ...          0          0
5                 87              -2  ...          0          0
6               -115               4  ...          0          0
7               -115              42  ...          0          0
8                 66               4  ...          0          0
9                113               4  ...          0          0

[10 rows x 65 columns]

    Destination Port   Flow Duration  ...   Idle Max   Idle Min
0          -0.370079       -0.984252  ...  -1.007874  -1.007874
1          -0.897638       -0.149606  ...  -1.007874  -1.007874
2          -0.889764       -0.598425  ...  -1.007874  -1.007874
3           0.220472       -0.740157  ...  -1.007874  -1.007874
4          -0.385827       -0.984252  ...  -1.007874  -1.007874
5          -0.322835        0.992126  ...  -1.007874  -1.007874
6           0.102362       -0.976378  ...  -1.007874  -1.007874
7           0.102362       -0.677165  ...  -1.007874  -1.007874
8          -0.488189       -0.976378  ...  -1.007874  -1.007874
9          -0.118110       -0.976378  ...  -1.007874  -1.007874

[10 rows x 65 columns]

In [ ]:
Y.sample(10)

AttributeError: ignored

In [ ]:
np.random.seed(0)
#x_train, x_test, y_train, y_test = train_test_split(label_puts, target, test_size = 0.99, random_state = 42)
x_train, x_test, y_train, y_test = train_test_split(X, target, test_size = 0.20, random_state = 42)
print(x_train.shape,len(y_train),x_test.shape,len(y_test))
x_train.columns

(2262300, 55) 2262300 (565576, 55) 565576

Index([' Destination Port', ' Flow Duration', ' Total Fwd Packets',
       ' Total Backward Packets', 'Total Length of Fwd Packets',
       ' Fwd Packet Length Max', ' Fwd Packet Length Min',
       ' Fwd Packet Length Mean', ' Fwd Packet Length Std',
       'Bwd Packet Length Max', ' Bwd Packet Length Min',
       ' Bwd Packet Length Mean', ' Bwd Packet Length Std', 'Flow Bytes/s',
       ' Flow Packets/s', ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max',
       ' Flow IAT Min', 'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std',
       ' Fwd IAT Max', ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Max',
       'Fwd PSH Flags', ' Fwd Header Length', ' Bwd Header Length',
       'Fwd Packets/s', ' Min Packet Length', ' Max Packet Length',
       ' Packet Length Mean', ' Packet Length Std', ' Packet Length Variance',
       'FIN Flag Count', ' PSH Flag Count', ' ACK Flag Count',
       ' URG Flag Count', ' Average Packet Size', ' Avg Fwd Segment Size',
       ' Avg Bwd Segment Size', ' Fwd Header Length.1', 'Subflow Fwd Packets',
       ' Subflow Fwd Bytes', ' Subflow Bwd Packets', ' Subflow Bwd Bytes',
       'Init_Win_bytes_forward', ' Init_Win_bytes_backward',
       ' act_data_pkt_fwd', ' min_seg_size_forward', 'Idle Mean', ' Idle Std',
       ' Idle Max', ' Idle Min'],
      dtype='object')

In [ ]:

# y_train = y_train.apply(lambda col: (col.astype('float16')))
# for col in len(range(y_train)):
#   y_train[col] = y_train[col].astype('int8') 

with np.nditer(y_train, op_flags=['readwrite']) as it:
  for x in it:
    x = x.astype('int8')
    # print(x)

TypeError: ignored

In [ ]:
type(y_train[0])

numpy.int64

In [ ]:
from pandas import read_csv
from sklearn.ensemble import ExtraTreesClassifier
model = ExtraTreesClassifier()
model.fit(x_train,y_train)

ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=100,
                     n_jobs=None, oob_score=False, random_state=None, verbose=0,
                     warm_start=False)

In [ ]:
attributes = list(x_train)
sorted(zip(model.feature_importances_, attributes), reverse=True)


# without removing low importance features
# [(0.06725226795705366, ' PSH Flag Count'
#  (0.04703924588265128, ' Destination Port'
#  (0.04336891200076948, ' min_seg_size_forward'
#  (0.032918258942460234, ' Avg Bwd Segment Size'
#  (0.0319151585200045, 'Init_Win_bytes_forward,
#  (0.031231904998846597, ' Bwd Packet Length Mn'),
#  (0.031043828667534953, 'Bwd Packet Length Max'),
#  (0.031022820331145052, ' Bwd Packet Length Min'),
#  (0.03084828251761542, ' Bwd Packet Length Std'),
#  (0.03072821850388161, ' Packet Length Std'),
#  (0.030100785213065997, ' Flow IAT Max'),
#  (0.028436521776347194, ' ACK Flag Count'),
#  (0.027281427074497808, ' Average Packet Size'),
#  (0.026910672034640138, ' Packet Length Mean'),
#  (0.026513534635049307, ' Fwd IAT Std'),
#  (0.02519386171930337, ' Idle Min'),
#  (0.02469951817650592, ' Packet Length Variance'),
#  (0.022650719915733662, ' Fwd IAT Max'),
#  (0.02149375931208453, 'Idle Mean'),
#  (0.021387643727711243, ' Idle Max'),
#  (0.019695679851880293, 'Fwd IAT Total'),
#  (0.018349326562034977, 'Fwd Packets/s'),
#  (0.017266255918316865, ' Min Packet Length'),
#  (0.015626674633139576, ' Flow Duration'),
#  (0.014118829080722541, ' Flow IAT Std'),
#  (0.013867841856553067, ' act_data_pkt_fwd'),
#  (0.013679521187193299, ' Fwd Packet Length Mean'),
#  (0.01331099626769552, ' Down/Up Ratio'),
#  (0.012939464770070725, ' Max Packet Length'),
#  (0.012047217861556263, 'Subflow Fwd Packets'),
#  (0.011862095567088867, ' Fwd IAT Mean'),
#  (0.011632402475019983, ' Fwd Header Length'),
#  (0.011358750784500476, ' Fwd Header Length.1'),
#  (0.010854538908848051, ' Fwd Packet Length Min'),
#  (0.010796586010746973, ' URG Flag Count'),
#  (0.009597693510985581, ' Fwd Packet Length Std'),
#  (0.00902441333452618, 'FIN Flag Count'),
#  (0.00877306577163478, ' Fwd Packet Length Max'),
#  (0.008720890407471942, ' Flow IAT Mean'),
#  (0.008226787320041931, ' Bwd Header Length'),
#  (0.007201896418642561, 'Bwd IAT Total'),
#  (0.0069803806388032096, ' Bwd IAT Max'),
#  (0.006945103049020648, ' Avg Fwd Segment Size'),
#  (0.0069378669203904566, ' Fwd IAT Min'),
#  (0.006887325250458923, ' Total Backward Packets'),
#  (0.006841765990321557, ' Init_Win_bytes_backward'),
#  (0.006626668993186727, ' Subflow Bwd Packets'),
#  (0.006300917761674071, ' Total Fwd Packets'),
#  (0.006126555533887571, ' Subflow Bwd Bytes'),
#  (0.00578242343095683, ' Total Length of Bwd Packets'),
#  (0.005532007932318445, ' Flow IAT Min'),
#  (0.005470814956938054, ' Subflow Fwd Bytes'),
#  (0.00510055920240283, ' Bwd IAT Mean'),
#  (0.004828698367963238, ' Bwd Packets/s'),
#  (0.004661449246139643, ' SYN Flag Count'),
#  (0.004656945025439365, 'Total Length of Fwd Packets'),
#  (0.004444226295005339, ' Bwd IAT Std'),
#  (0.004222930071229493, 'Fwd PSH Flags'),
#  (0.002980876838669248, ' Idle Std'),
#  (0.0022653559832381213, ' Bwd IAT Min'),
#  (0.0020928688268832575, ' Active Min'),
#  (0.001723731080556255, 'Active Mean'),
#  (0.0013829157201535125, ' Active Max'),
#  (0.00020451284954848723, ' Active Std'),
#  (9.758497430937929e-06, ' CWE Flag Count'),
#  (3.2564982464166172e-06, ' Fwd URG Flags'),
#  (1.447782419664425e-06, ' ECE Flag Count'),
#  (3.668511452909695e-07, ' RST Flag Count'),
#  (0.0, 'Fwd Avg Bytes/Bulk'),
#  (0.0, 'Bwd Avg Bulk Rate'),
#  (0.0, ' Fwd Avg Packets/Bulk'),
#  (0.0, ' Fwd Avg Bulk Rate'),
#  (0.0, ' Bwd URG Flags'),
#  (0.0, ' Bwd PSH Flags'),
#  (0.0, ' Bwd Avg Packets/Bulk'),
#  (0.0, ' Bwd Avg Bytes/Bulk')]

# ---------------------------------------------------------


# [(0.07310365579399741, ' PSH Flag Count'),
#  (0.046475815101709984, ' min_seg_size_forward'),
#  (0.045934770085670394, ' Destination Port'),
#  (0.04354801440171562, ' Avg Bwd Segment Size'),
#  (0.03856424646770225, ' Packet Length Std'),
#  (0.032581428295322824, 'Bwd Packet Length Max'),
#  (0.0304329734798864, ' Fwd IAT Std'),
#  (0.030004556066805278, 'Init_Win_bytes_forward'),
#  (0.02853429675537719, ' Bwd Packet Length Std'),
#  (0.027345633541044186, ' Bwd Packet Length Min'),
#  (0.026739433752677427, ' Average Packet Size'),
#  (0.026495206853878427, ' Packet Length Variance'),
#  (0.02535343343555042, ' ACK Flag Count'),
#  (0.02489962913912783, ' Packet Length Mean'),
#  (0.024063577466096442, ' Bwd Packet Length Mean'),
#  (0.022537784746346854, ' Idle Min'),
#  (0.022425677268801836, ' Idle Max'),
#  (0.021089457479274577, 'Fwd Packets/s'),
#  (0.020905120110969577, ' Fwd IAT Max'),
#  (0.020308971281282315, ' Flow IAT Max'),
#  (0.018813700501907404, 'Idle Mean'),
#  (0.018067791682025974, ' act_data_pkt_fwd'),
#  (0.01802237237287912, ' Max Packet Length'),
#  (0.017997843113228613, ' Min Packet Length'),
#  (0.017872511846361218, 'Fwd IAT Total'),
#  (0.017520951239622197, ' Flow IAT Std'),
#  (0.014881886721889226, ' Down/Up Ratio'),
#  (0.012914199615944012, ' Avg Fwd Segment Size'),
#  (0.012055797186893941, ' Flow Duration'),
#  (0.011631295140734983, ' Total Fwd Packets'),
#  (0.01107404719278104, 'Subflow Fwd Packets'),
#  (0.011006568007510521, ' URG Flag Count'),
#  (0.010921003583136375, ' Fwd Packet Length Std'),
#  (0.010356449469914123, ' Fwd Packet Length Mean'),
#  (0.01033395657536567, ' Fwd Header Length'),
#  (0.009830207428205373, ' Fwd IAT Mean'),
#  (0.009774355533804582, ' Fwd Packet Length Max'),
#  (0.009240395689139726, ' Fwd Header Length.1'),
#  (0.008618886892888398, ' Fwd Packet Length Min'),
#  (0.008352315753258288, 'Fwd PSH Flags'),
#  (0.007965808032871996, 'Total Length of Fwd Packets'),
#  (0.007922605037918536, ' Flow IAT Mean'),
#  (0.007318878754666738, 'Bwd IAT Total'),
#  (0.00675529351791052, 'FIN Flag Count'),
#  (0.006711274017472827, ' Subflow Bwd Packets'),
#  (0.006608910345913243, ' Bwd Header Length'),
#  (0.006242128250044523, ' Flow IAT Min'),
#  (0.006076130445719157, ' Subflow Fwd Bytes'),
#  (0.0059547031747178595, ' Init_Win_bytes_backward'),
#  (0.005889936504748974, ' Fwd IAT Min'),
#  (0.0058352876533357325, ' Total Backward Packets'),
#  (0.004719200925616161, ' Bwd IAT Max'),
#  (0.004436353459315346, ' Subflow Bwd Bytes'),
#  (0.004288540951000902, ' Bwd IAT Mean'),
#  (0.003736318063867649, ' Bwd Packets/s'),
#  (0.0035537665999495686, ' Bwd IAT Std'),
#  (0.0034097276914085944, ' Idle Std'),
#  (0.003350737930263424, ' Total Length of Bwd Packets'),
#  (0.002778802459990596, 'Active Mean'),
#  (0.002086141001009315, ' Active Min'),
#  (0.001986387335518348, ' Active Max'),
#  (0.0015935378649943417, ' Bwd IAT Min'),
#  (0.000138307198711042, ' Active Std'),
#  (1.1005712306563672e-05, ' Fwd URG Flags'),
#  (0.0, ' Bwd Avg Bytes/Bulk')]

[(0.06170295209533064, ' PSH Flag Count'),
 (0.053228221634459325, ' Destination Port'),
 (0.03805794457579697, ' Packet Length Std'),
 (0.03801948452414414, ' Avg Bwd Segment Size'),
 (0.03457401455333974, ' Bwd Packet Length Mean'),
 (0.03374150619070316, ' min_seg_size_forward'),
 (0.03349725604358056, ' Bwd Packet Length Min'),
 (0.03258869683553349, 'Init_Win_bytes_forward'),
 (0.03208570478564251, ' Bwd Packet Length Std'),
 (0.03133473652082477, ' Fwd IAT Max'),
 (0.02931380455436578, ' Packet Length Mean'),
 (0.029184833911848767, 'Bwd Packet Length Max'),
 (0.02720905336834145, 'Idle Mean'),
 (0.024968855298648354, ' Average Packet Size'),
 (0.024700437333963, ' ACK Flag Count'),
 (0.02315732135707468, ' Idle Min'),
 (0.02253565133784114, ' Fwd IAT Std'),
 (0.02170220907415493, ' Packet Length Variance'),
 (0.021425017400659482, ' Max Packet Length'),
 (0.020882968694986362, ' Flow IAT Max'),
 (0.020816197863968985, ' Idle Max'),
 (0.019486616553756286, 'Fwd Packets/s'),
 (0.019125229270343966, ' Min Packet Length'),
 (0.01887036099185822, ' Fwd Header Length'),
 (0.01868866836729717, ' Flow Duration'),
 (0.01496298545240534, 'Subflow Fwd Packets'),
 (0.014013298466677291, ' act_data_pkt_fwd'),
 (0.013557983420549972, 'Fwd IAT Total'),
 (0.012910392262737231, ' Flow IAT Std'),
 (0.01278361145877592, ' Fwd Packet Length Std'),
 (0.01205298861015662, ' Fwd Packet Length Min'),
 (0.011906347204106904, ' Fwd Packet Length Mean'),
 (0.0118116280358051, ' Total Fwd Packets'),
 (0.01146215574232524, ' Fwd IAT Mean'),
 (0.011108030069789712, ' Fwd Packet Length Max'),
 (0.011001629600239031, ' Avg Fwd Segment Size'),
 (0.010253747303670893, ' Bwd IAT Max'),
 (0.010072470634968063, ' URG Flag Count'),
 (0.009922135794182859, ' Flow Packets/s'),
 (0.00923975841239548, ' Subflow Fwd Bytes'),
 (0.009227021504942461, 'FIN Flag Count'),
 (0.008713731199145461, 'Total Length of Fwd Packets'),
 (0.008655420107105493, ' Flow IAT Mean'),
 (0.008470923147836606, ' Total Backward Packets'),
 (0.00810226760675454, 'Bwd IAT Total'),
 (0.007558386291192221, 'Fwd PSH Flags'),
 (0.007362234955644876, ' Fwd IAT Min'),
 (0.0071397746515597, ' Bwd Header Length'),
 (0.00706132507054723, ' Init_Win_bytes_backward'),
 (0.006805524919443042, ' Subflow Bwd Packets'),
 (0.005775791820085464, ' Subflow Bwd Bytes'),
 (0.0028659119180906197, ' Idle Std'),
 (0.0027287573176150385, 'Flow Bytes/s'),
 (0.0008207601400567783, ' Flow IAT Min'),
 (0.0007552637427309656, ' Fwd Header Length.1')]

In [ ]:
y_pred = model.predict(x_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int8)

In [ ]:
from sklearn.metrics import accuracy_score,f1_score
print(model.score(x_test, y_test))
print(accuracy_score(y_test, y_pred))
print(f1_score(y_test, y_pred, average='macro'))

# 0.9984173777574454
# 0.9984173777574454
# 0.8329280909957083
# --------After removal of columns
# 0.9984350409521169--------
# 0.9984350409521169--------
# 0.8395713515182087
# -------------- After removal of columns and standardization of data
# 0.9983591948738985
# 0.9983591948738985
# 0.8782021432415873

0.9983591948738985
0.9983591948738985
0.8782021432415873

In [ ]:
x_train.sample(20)

          Destination Port   Flow Duration  ...   Idle Max   Idle Min
187650            0.122072        5.543199  ...          5    6646825
276227            0.675975        0.218747  ...          0          0
712592            0.675975        0.770857  ...          0          0
273596           11.580072        0.000012  ...          0          0
2259315           0.122072       69.075386  ...         68   82700000
2434072           0.122072       83.887154  ...         82   99500000
1756558           0.675975       98.488564  ...          8   10000000
725140            0.675975        0.644943  ...          0          0
2075046           0.080873        0.000247  ...          0          0
2593299           0.675975       28.708054  ...         24   29900000
1567987           0.080873        0.000141  ...          0          0
1188847           0.080873        0.025846  ...          0          0
2088262           0.080873        0.310763  ...          0          0
610024           71.125353        0.000057  ...          0          0
289093            0.122072        0.027168  ...          0          0
2315328           0.122072        0.012298  ...          0          0
2501434           0.134279        0.000956  ...          0          0
928453           67.977417        0.004066  ...          0          0
353511            7.722591        0.000024  ...          0          0
2229120           0.122072        0.124598  ...          0          0

[20 rows x 55 columns]

In [ ]:
# (0.0, 'Fwd Avg Bytes/Bulk'),
#  (0.0, 'Bwd Avg Bulk Rate'),
#  (0.0, ' Fwd Avg Packets/Bulk'),
#  (0.0, ' Fwd Avg Bulk Rate'),
#  (0.0, ' Bwd URG Flags'),
#  (0.0, ' Bwd PSH Flags'),
#  (0.0, ' Bwd Avg Packets/Bulk'),
#  (0.0, ' Bwd Avg Bytes/Bulk')]

# del df[" CWE Flag Count"]
# del df["Bwd Avg Bulk Rate"]
# del df[" Fwd Avg Packets/Bulk"]
# del df[' Fwd Avg Bulk Rate']
# del df[" Bwd URG Flags"]
# del df[' Bwd PSH Flags']
# del df[" Bwd Avg Packets/Bulk"]
                                                                       
# del df[" SYN Flag Count"]
# del df[" Fwd URG Flags"]
# del df["]
# del df[""]
# del df[""]
# del df[""]
# del df[""]
# 
# 
# 
# 
#  -----------------------DTC
#  (0.0, 'Fwd Avg Bytes/Bulk'),
#  (0.0, 'Bwd Avg Bulk Rate'),
#  (0.0, ' SYN Flag Count'),
#  (0.0, ' RST Flag Count'),
#  (0.0, ' Fwd URG Flags'),
#  (0.0, ' Fwd Avg Packets/Bulk'),
#  (0.0, ' Fwd Avg Bulk Rate'),
#  (0.0, ' ECE Flag Count'),
#  (0.0, ' CWE Flag Count'),
#  (0.0, ' Bwd URG Flags'),
#  (0.0, ' Bwd PSH Flags'),
#  (0.0, ' Bwd Avg Packets/Bulk'),
#  (0.0, ' Bwd Avg Bytes/Bulk')]
# RF
  # (0.0, 'Fwd Avg Bytes/Bulk'),
#  (0.0, 'Bwd Avg Bulk Rate'),
#  (0.0, ' RST Flag Count'),
#  (0.0, ' Fwd Avg Packets/Bulk'),
#  (0.0, ' Fwd Avg Bulk Rate'),
#  (0.0, ' ECE Flag Count'),
#  (0.0, ' Bwd URG Flags'),
#  (0.0, ' Bwd PSH Flags'),
#  (0.0, ' Bwd Avg Packets/Bulk'),
#  (0.0, ' Bwd Avg Bytes/Bulk')]

# 'Fwd Avg Bytes/Bulk'),
# SYN Flag Count')
#  (0.0, 'Bwd Avg Bulk Rate'),
#  (0.0, ' RST Flag Count'),
#  (0.0, ' Fwd Avg Packets/Bulk'),
#  (0.0, ' Fwd Avg Bulk Rate'),
#  (0.0, ' ECE Flag Count'),
#  (0.0, ' CWE Flag Count'),
#  (0.0, ' Bwd URG Flags'),
#  (0.0, ' Bwd PSH Flags'),
#  (0.0, ' Bwd Avg Packets/Bulk'),
#  (0.0, ' Bwd Avg Bytes/Bulk')]

In [ ]:
len(df.columns)

67

In [ ]:
dtc = DecisionTreeClassifier(max_depth = 35)
dtc = dtc.fit(x_train,y_train)
y_pred = dtc.predict(x_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int8)

In [ ]:
from sklearn.metrics import accuracy_score,f1_score
print(dtc.score(x_test, y_test))
print(accuracy_score(y_test, y_pred))
print(f1_score(y_test, y_pred, average='macro'))
# -----------------------------
# 0.9984774326193281 after removal of columns
# 0.9984774326193281 after removal of columns
# 0.8667124765500696 after removal of columns

# ------------------------------------------ AFter removal of columns and standardization of data
# 0.9984140062520334
# 0.9984140062520334
# 0.9004401619867812

0.9984140062520334
0.9984140062520334
0.9004401619867812

In [ ]:
attributes = list(x_train)
sorted(zip(dtc.feature_importances_, attributes), reverse=True)
# ''' After removal of columns
# [(0.28016606811168726, ' Bwd Packet Length Std'),
#  (0.1733888947694944, ' Average Packet Size'),
#  (0.12351004475960135, ' Packet Length Variance'),
#  (0.11069568307466329, ' Fwd Packet Length Max'),
#  (0.09594752849111146, ' Destination Port'),
#  (0.06755557795314726, ' Flow IAT Std'),
#  (0.03493801525095952, ' Flow IAT Mean'),
#  (0.01883046832986224, 'Init_Win_bytes_forward'),
#  (0.018112034535505223, ' Fwd Header Length.1'),
#  (0.015792768068831394, ' Total Length of Bwd Packets'),
#  (0.007670806775145387, ' PSH Flag Count'),
#  (0.007375691302249404, ' Flow IAT Min'),
#  (0.007053658583930834, ' Fwd IAT Min'),
#  (0.006798316543684104, ' Init_Win_bytes_backward'),
#  (0.003698208209551507, ' Bwd IAT Mean'),
#  (0.003231974871338103, ' Bwd Packets/s'),
#  (0.0028835305365681294, ' Fwd IAT Std'),
#  (0.002531178337354747, ' Packet Length Mean'),
#  (0.0020148741561211853, ' Subflow Fwd Bytes'),
#  (0.001849292133856775, ' Active Std'),
#  (0.0017756112815919029, ' Subflow Bwd Bytes'),
#  (0.0017422225064747804, ' Bwd IAT Std'),
#  (0.001735979999222193, ' min_seg_size_forward'),
#  (0.0014089051417732659, ' act_data_pkt_fwd'),
#  (0.001039001917198709, ' Fwd Header Length'),
#  (0.0008479153051474898, ' Bwd Packet Length Mean'),
#  (0.0007103968653167402, ' Flow Duration'),
#  (0.0005975280224517197, ' Fwd IAT Mean'),
#  (0.0005879066183263844, ' Fwd Packet Length Min'),
#  (0.00048147632219934565, ' Avg Fwd Segment Size'),
#  (0.00046751665611389034, ' Avg Bwd Segment Size'),
#  (0.00046193767822552304, ' Fwd Packet Length Std'),
#  (0.0004135138254924596, 'Total Length of Fwd Packets'),
#  (0.00041328739480660486, ' Flow IAT Max'),
#  (0.00030597314465320984, 'Subflow Fwd Packets'),
#  (0.00026962660081438633, ' Min Packet Length'),
#  (0.00026572709485670224, ' URG Flag Count'),
#  (0.00025500760488335724, 'Fwd IAT Total'),
#  (0.00023741983955396956, ' Bwd IAT Min'),
#  (0.00021367862064914888, 'Fwd Packets/s'),
#  (0.00018878988623811886, ' Fwd IAT Max'),
#  (0.00018270426067764855, 'Bwd Packet Length Max'),
#  (0.00015394740150137702, 'Fwd PSH Flags'),
#  (0.00015233484758006682, 'Bwd IAT Total'),
#  (0.00014963252434221794, ' Down/Up Ratio'),
#  (0.00011460363907694974, ' ACK Flag Count'),
#  (0.00011027266081469523, ' Subflow Bwd Packets'),
#  (0.00010582054978144025, ' Packet Length Std'),
#  (0.00010059309850460571, ' Max Packet Length'),
#  (9.414921214447345e-05, ' Idle Min'),
#  (7.941917652496808e-05, ' Total Backward Packets'),
#  (6.328853154705063e-05, ' Fwd Packet Length Mean'),
#  (5.221072466639542e-05, ' Active Max'),
#  (3.774487080623856e-05, ' Bwd IAT Max'),
#  (3.4065258530539905e-05, ' Idle Std'),
#  (3.204165726561617e-05, ' Bwd Header Length'),
#  (1.975936604384112e-05, 'FIN Flag Count'),
#  (1.9724799376597006e-05, ' Total Fwd Packets'),
#  (1.445375939585674e-05, ' Idle Max'),
#  (6.626751842307504e-06, ' Active Min'),
#  (6.228453832736674e-06, 'Active Mean'),
#  (4.623810405522742e-06, ' Bwd Packet Length Min'),
#  (1.7175246854056034e-06, 'Idle Mean'),
#  (0.0, ' Fwd URG Flags'),
#  (0.0, ' Bwd Avg Bytes/Bulk')] '''


# After removal of columns and stardardization of data
# [(0.28081615120727976, ' Bwd Packet Length Std'),
#  (0.17342584039345477, ' Average Packet Size'),
#  (0.12443267029574392, ' Packet Length Variance'),
#  (0.11023026556712232, ' Fwd Packet Length Max'),
#  (0.09746895785153119, ' Destination Port'),
#  (0.06745392528933074, ' Flow IAT Std'),
#  (0.03451220274130996, ' Flow IAT Mean'),
#  (0.019190152548959546, ' Fwd Header Length'),
#  (0.017462324426230795, ' Subflow Bwd Bytes'),
#  (0.017459279711913734, 'Init_Win_bytes_forward'),
#  (0.007414904307686484, ' PSH Flag Count'),
#  (0.006700317437963121, ' Init_Win_bytes_backward'),
#  (0.006663308257260486, ' Fwd IAT Min'),
#  (0.006044352514880975, 'Idle Mean'),
#  (0.005355512124356029, ' min_seg_size_forward'),
#  (0.0036568915883058235, ' Packet Length Mean'),
#  (0.0034312123976469504, ' Idle Std'),
#  (0.0028462804526412193, ' Fwd IAT Mean'),
#  (0.002602149646224776, ' Bwd Packet Length Mean'),
#  (0.0014574049358381167, 'Fwd Packets/s'),
#  (0.001144727323678923, ' Fwd Packet Length Mean'),
#  (0.0009776331906792724, ' Flow Duration'),
#  (0.0009776052620744666, ' Avg Bwd Segment Size'),
#  (0.0009451194161910165, ' Flow IAT Min'),
#  (0.0008056073797510606, ' Fwd IAT Std'),
#  (0.0008041586301102237, ' Subflow Fwd Bytes'),
#  (0.0007283035349229918, ' Max Packet Length'),
#  (0.0005657124060944584, 'Bwd Packet Length Max'),
#  (0.0005470064893224677, 'Total Length of Fwd Packets'),
#  (0.00047975391134993305, ' Fwd Packet Length Std'),
#  (0.00047771592488278036, ' Fwd IAT Max'),
#  (0.00037293438198067377, ' Fwd Packet Length Min'),
#  (0.00030169869211160504, 'Flow Bytes/s'),
#  (0.00028136749737304843, ' Min Packet Length'),
#  (0.000273780967577527, ' Idle Min'),
#  (0.00020469376312760802, ' URG Flag Count'),
#  (0.00018746746412100034, ' Bwd IAT Max'),
#  (0.0001790807723947673, ' Subflow Bwd Packets'),
#  (0.00017207570059626418, ' ACK Flag Count'),
#  (0.00016162335200744376, ' Flow Packets/s'),
#  (0.00015204646779520066, ' Total Backward Packets'),
#  (0.00015203629652474893, ' Packet Length Std'),
#  (0.0001425175604447684, 'Fwd PSH Flags'),
#  (9.503481344511872e-05, 'FIN Flag Count'),
#  (8.928384850564696e-05, 'Bwd IAT Total'),
#  (5.9174596124725984e-05, ' Avg Fwd Segment Size'),
#  (3.2795406148957585e-05, 'Subflow Fwd Packets'),
#  (1.6901180938118678e-05, ' Total Fwd Packets'),
#  (1.2790231641322964e-05, ' Idle Max'),
#  (1.0136842077547119e-05, ' Flow IAT Max'),
#  (8.902492042750681e-06, ' Bwd Header Length'),
#  (8.493611656901823e-06, ' act_data_pkt_fwd'),
#  (7.716896626203414e-06, ' Bwd Packet Length Min'),
#  (0.0, 'Fwd IAT Total'),
#  (0.0, ' Fwd Header Length.1')]

[(0.28081615120727976, ' Bwd Packet Length Std'),
 (0.17342584039345477, ' Average Packet Size'),
 (0.12443267029574392, ' Packet Length Variance'),
 (0.11023026556712232, ' Fwd Packet Length Max'),
 (0.09746895785153119, ' Destination Port'),
 (0.06745392528933074, ' Flow IAT Std'),
 (0.03451220274130996, ' Flow IAT Mean'),
 (0.019190152548959546, ' Fwd Header Length'),
 (0.017462324426230795, ' Subflow Bwd Bytes'),
 (0.017459279711913734, 'Init_Win_bytes_forward'),
 (0.007414904307686484, ' PSH Flag Count'),
 (0.006700317437963121, ' Init_Win_bytes_backward'),
 (0.006663308257260486, ' Fwd IAT Min'),
 (0.006044352514880975, 'Idle Mean'),
 (0.005355512124356029, ' min_seg_size_forward'),
 (0.0036568915883058235, ' Packet Length Mean'),
 (0.0034312123976469504, ' Idle Std'),
 (0.0028462804526412193, ' Fwd IAT Mean'),
 (0.002602149646224776, ' Bwd Packet Length Mean'),
 (0.0014574049358381167, 'Fwd Packets/s'),
 (0.001144727323678923, ' Fwd Packet Length Mean'),
 (0.0009776331906792724, ' Flow Duration'),
 (0.0009776052620744666, ' Avg Bwd Segment Size'),
 (0.0009451194161910165, ' Flow IAT Min'),
 (0.0008056073797510606, ' Fwd IAT Std'),
 (0.0008041586301102237, ' Subflow Fwd Bytes'),
 (0.0007283035349229918, ' Max Packet Length'),
 (0.0005657124060944584, 'Bwd Packet Length Max'),
 (0.0005470064893224677, 'Total Length of Fwd Packets'),
 (0.00047975391134993305, ' Fwd Packet Length Std'),
 (0.00047771592488278036, ' Fwd IAT Max'),
 (0.00037293438198067377, ' Fwd Packet Length Min'),
 (0.00030169869211160504, 'Flow Bytes/s'),
 (0.00028136749737304843, ' Min Packet Length'),
 (0.000273780967577527, ' Idle Min'),
 (0.00020469376312760802, ' URG Flag Count'),
 (0.00018746746412100034, ' Bwd IAT Max'),
 (0.0001790807723947673, ' Subflow Bwd Packets'),
 (0.00017207570059626418, ' ACK Flag Count'),
 (0.00016162335200744376, ' Flow Packets/s'),
 (0.00015204646779520066, ' Total Backward Packets'),
 (0.00015203629652474893, ' Packet Length Std'),
 (0.0001425175604447684, 'Fwd PSH Flags'),
 (9.503481344511872e-05, 'FIN Flag Count'),
 (8.928384850564696e-05, 'Bwd IAT Total'),
 (5.9174596124725984e-05, ' Avg Fwd Segment Size'),
 (3.2795406148957585e-05, 'Subflow Fwd Packets'),
 (1.6901180938118678e-05, ' Total Fwd Packets'),
 (1.2790231641322964e-05, ' Idle Max'),
 (1.0136842077547119e-05, ' Flow IAT Max'),
 (8.902492042750681e-06, ' Bwd Header Length'),
 (8.493611656901823e-06, ' act_data_pkt_fwd'),
 (7.716896626203414e-06, ' Bwd Packet Length Min'),
 (0.0, 'Fwd IAT Total'),
 (0.0, ' Fwd Header Length.1')]

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
cross_val_score(dtc,X,Y,cv=10)
# array([0.97643734, 0.99840325, 0.99742471, 0.99876711, 0.99574316,
      #  0.99814536, 0.99919809, 0.9984845 , 0.99836439, 0.98740612])

array([0.97643734, 0.99840325, 0.99742471, 0.99876711, 0.99574316,
       0.99814536, 0.99919809, 0.9984845 , 0.99836439, 0.98740612])

In [ ]:
print('---------------------------Random Forest CLassifier------------------')
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators =5)
model = model.fit(x_train, y_train)
rfy_pred = model.predict(x_test)
acc = metrics.accuracy_score(y_test, y_pred)
print(model.score(x_test,y_test))
# 0.9985904770652249

---------------------------Random Forest CLassifier------------------
0.9984971073737217

In [ ]:
attributes = list(x_train)
sorted(zip(model.feature_importances_, attributes), reverse=True)
# After removal of zero weight columns
# (0.112366494671202, ' Bwd Packet Length Std'),
#  (0.06433679659855031, ' Fwd Packet Length Max'),
#  (0.056751604919560494, ' Bwd Header Length'),
#  (0.053961465096857064, ' Packet Length Std'),
#  (0.05211168968251292, ' Avg Bwd Segment Size'),
#  (0.04711769474558417, ' Packet Length Variance'),
#  (0.047111200354155815, ' Destination Port'),
#  (0.04381627786972093, ' Bwd Packets/s'),
#  (0.042386429958200925, ' Subflow Fwd Bytes'),
#  (0.04204987126438914, ' Subflow Bwd Bytes'),
#  (0.04094738171388945, ' Fwd Packet Length Mean'),
#  (0.034804649193391636, ' Bwd Packet Length Mean'),
#  (0.032309913776511615, 'Total Length of Fwd Packets'),
#  (0.030449813998609403, ' Bwd Packet Length Min'),
#  (0.02745081831343994, 'Init_Win_bytes_forward'),
#  (0.02152068692183791, ' Avg Fwd Segment Size'),
#  (0.020606145634675384, ' Total Fwd Packets'),
#  (0.020281391542833906, ' Fwd Header Length'),
#  (0.019122836450544096, ' Average Packet Size'),
#  (0.017856029235357555, ' Fwd IAT Min'),
#  (0.016114650228562403, ' Total Length of Bwd Packets'),
#  (0.01511369436086099, ' Flow IAT Mean'),
#  (0.01462071528436822, 'Bwd Packet Length Max'),
#  (0.013104362732868127, ' Fwd IAT Std'),
#  (0.012588503895913216, ' Fwd Header Length.1'),
#  (0.010829394542185674, ' Flow Duration'),
#  (0.010589833636965276, 'Subflow Fwd Packets'),
#  (0.008664120438680232, ' Flow IAT Min'),
#  (0.006618671803804302, ' Fwd IAT Mean'),
#  (0.0062142762806988204, 'Fwd Packets/s'),
#  (0.005823333750440481, ' Flow IAT Max'),
#  (0.005511802056849195, ' Flow IAT Std'),
#  (0.004975819470764161, 'Bwd IAT Total'),
#  (0.004627758535310539, ' Fwd IAT Max'),
#  (0.00427590994074193, ' Packet Length Mean'),
#  (0.0035639700897044913, ' act_data_pkt_fwd'),
#  (0.003493204652573267, ' Init_Win_bytes_backward'),
#  (0.003374753383737507, ' PSH Flag Count'),
#  (0.002515781500541767, 'Idle Mean'),
#  (0.0024516354845426636, ' min_seg_size_forward'),
#  (0.0022335619575645444, ' ACK Flag Count'),
#  (0.0019732395805961366, ' Fwd Packet Length Min'),
#  (0.0014831160895369868, 'Fwd IAT Total'),
#  (0.0014772666869454546, ' Bwd IAT Min'),
#  (0.0013384636148983016, ' Active Max'),
#  (0.0012520161369063434, 'FIN Flag Count'),
#  (0.0011475731461011319, ' Subflow Bwd Packets'),
#  (0.0010386363262575413, ' Idle Min'),
#  (0.0009966626895916914, ' Fwd Packet Length Std'),
#  (0.0008592233719482215, ' Max Packet Length'),
#  (0.0006909782162334799, ' Idle Std'),
#  (0.0006473875360388798, ' URG Flag Count'),
#  (0.0006114456684819397, ' Bwd IAT Max'),
#  (0.00036808559597668086, ' Bwd IAT Mean'),
#  (0.0003629025503343455, ' Active Std'),
#  (0.00029293235026810893, ' Idle Max'),
#  (0.00025669564002782765, ' Min Packet Length'),
#  (0.00017962329022629367, 'Fwd PSH Flags'),
#  (0.00011231918372564187, ' Total Backward Packets'),
#  (8.998730128113458e-05, ' Bwd IAT Std'),
#  (7.53315373177969e-05, ' Down/Up Ratio'),
#  (3.7701044193251527e-05, ' Active Min'),
#  (3.760200258525163e-05, 'Active Mean'),
#  (5.86447102523287e-06, ' Fwd URG Flags'),
#  (0.0, ' Bwd Avg Bytes/Bulk')]

[(0.17264213650493487, ' Packet Length Variance'),
 (0.10929411540036674, 'Bwd Packet Length Max'),
 (0.06612861047647771, ' Subflow Bwd Bytes'),
 (0.05752707568688149, ' Destination Port'),
 (0.04698507226380129, ' Init_Win_bytes_backward'),
 (0.043020283817403526, ' Packet Length Std'),
 (0.040909778150494916, ' Fwd Packet Length Max'),
 (0.03781775040088564, ' Idle Min'),
 (0.03330447849172774, ' Subflow Fwd Bytes'),
 (0.03136079899933671, ' Max Packet Length'),
 (0.030408554337534012, ' Fwd Header Length'),
 (0.02838726450750728, ' Bwd Packet Length Std'),
 (0.027907337869760972, 'Flow Bytes/s'),
 (0.025777129321326163, ' Fwd Packet Length Mean'),
 (0.025674828434905088, ' Flow Duration'),
 (0.024029452148425924, 'Init_Win_bytes_forward'),
 (0.020368702497241528, ' min_seg_size_forward'),
 (0.01876630461018363, 'Subflow Fwd Packets'),
 (0.018514971860028637, ' Bwd Packet Length Mean'),
 (0.01416092864198388, ' Total Fwd Packets'),
 (0.013906849559424403, 'Fwd Packets/s'),
 (0.011669532888573236, ' Fwd IAT Min'),
 (0.010812596795481685, ' Flow Packets/s'),
 (0.009939798853239281, ' Avg Fwd Segment Size'),
 (0.009464102283101994, ' Min Packet Length'),
 (0.008266417175510538, ' Fwd IAT Max'),
 (0.00735351368764213, ' Packet Length Mean'),
 (0.007004287187495779, ' Flow IAT Std'),
 (0.006541315324788269, ' Fwd IAT Mean'),
 (0.005205046012144017, ' Total Backward Packets'),
 (0.004320070909198058, ' Fwd Packet Length Std'),
 (0.004218162963894379, ' ACK Flag Count'),
 (0.0029610014102748805, ' Flow IAT Mean'),
 (0.002504337380188974, ' Bwd Header Length'),
 (0.0023688423590896472, ' Average Packet Size'),
 (0.0022987533212395174, 'Idle Mean'),
 (0.002104791343000034, ' Subflow Bwd Packets'),
 (0.0020097124915789627, ' Bwd Packet Length Min'),
 (0.0014853679850626855, ' Idle Max'),
 (0.0014599042146560045, 'Total Length of Fwd Packets'),
 (0.0013282058261521305, ' Fwd IAT Std'),
 (0.001118824646422392, ' Flow IAT Max'),
 (0.0010597729123159288, 'Fwd PSH Flags'),
 (0.001051505234374691, ' Fwd Packet Length Min'),
 (0.0010326603727914992, ' act_data_pkt_fwd'),
 (0.0010082448577929278, 'Bwd IAT Total'),
 (0.0008910914930101137, ' PSH Flag Count'),
 (0.000779663109412984, ' Idle Std'),
 (0.0007430734041970816, ' Bwd IAT Max'),
 (0.0005801915175931968, ' URG Flag Count'),
 (0.0005468906031592714, 'Fwd IAT Total'),
 (0.0005334182042232326, ' Avg Bwd Segment Size'),
 (0.0004075089258447206, 'FIN Flag Count'),
 (2.8039389666593724e-05, ' Flow IAT Min'),
 (1.0930936251031857e-05, ' Fwd Header Length.1')]

In [ ]:
from sklearn.metrics import accuracy_score,f1_score
print(model.score(x_test, y_test))
print(accuracy_score(y_test, y_pred))
print(f1_score(y_test, y_pred, average='macro'))

# 0.9985904770652249
# 0.9984774326193281
# 0.8667124765500696

# 0.9984971073737217
# 0.9984140062520334
# 0.9004401619867812

0.9984971073737217
0.9984140062520334
0.9004401619867812

In [ ]:
X.head()

    Destination Port   Flow Duration  ...   Idle Max   Idle Min
0          83.718624        0.000013  ...          0          0
1          84.007019        0.000102  ...          0          0
2          84.008545        0.000054  ...          0          0
3          70.551614        0.000039  ...          0          0
4          83.715572        0.000013  ...          0          0

[5 rows x 55 columns]

In [ ]:
import torch

# If there's a GPU available...
if torch.cuda.is_available():    

    # Tell PyTorch to use the GPU.    
    device = torch.device("cuda")

    print('There are %d GPU(s) available.' % torch.cuda.device_count())

    print('We will use the GPU:', torch.cuda.get_device_name(0))

# If not...
else:
    print('No GPU available, using the CPU instead.')
    device = torch.device("cpu")

There are 1 GPU(s) available.
We will use the GPU: Tesla K80

In [ ]:
df.columns

Index([' Destination Port', ' Flow Duration', ' Total Fwd Packets',
       ' Total Backward Packets', 'Total Length of Fwd Packets',
       ' Total Length of Bwd Packets', ' Fwd Packet Length Max',
       ' Fwd Packet Length Min', ' Fwd Packet Length Mean',
       ' Fwd Packet Length Std', 'Bwd Packet Length Max',
       ' Bwd Packet Length Min', ' Bwd Packet Length Mean',
       ' Bwd Packet Length Std', 'Flow Bytes/s', ' Flow Packets/s',
       ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max', ' Flow IAT Min',
       'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std', ' Fwd IAT Max',
       ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean', ' Bwd IAT Std',
       ' Bwd IAT Max', ' Bwd IAT Min', 'Fwd PSH Flags', ' Bwd PSH Flags',
       ' Fwd URG Flags', ' Bwd URG Flags', ' Fwd Header Length',
       ' Bwd Header Length', 'Fwd Packets/s', ' Bwd Packets/s',
       ' Min Packet Length', ' Max Packet Length', ' Packet Length Mean',
       ' Packet Length Std', ' Packet Length Variance', 'FIN Flag Count',
       ' SYN Flag Count', ' RST Flag Count', ' PSH Flag Count',
       ' ACK Flag Count', ' URG Flag Count', ' CWE Flag Count',
       ' ECE Flag Count', ' Down/Up Ratio', ' Average Packet Size',
       ' Avg Fwd Segment Size', ' Avg Bwd Segment Size',
       ' Fwd Header Length.1', 'Fwd Avg Bytes/Bulk', ' Fwd Avg Packets/Bulk',
       ' Fwd Avg Bulk Rate', ' Bwd Avg Bytes/Bulk', ' Bwd Avg Packets/Bulk',
       'Bwd Avg Bulk Rate', 'Subflow Fwd Packets', ' Subflow Fwd Bytes',
       ' Subflow Bwd Packets', ' Subflow Bwd Bytes', 'Init_Win_bytes_forward',
       ' Init_Win_bytes_backward', ' act_data_pkt_fwd',
       ' min_seg_size_forward', 'Active Mean', ' Active Std', ' Active Max',
       ' Active Min', 'Idle Mean', ' Idle Std', ' Idle Max', ' Idle Min',
       ' Label'],
      dtype='object')

In [ ]:
# new_df = 
df.shape
X.columns
# data = {}
# for column_name, rows in df.iteritems():
    # data[column_name] = rows.to_list()
# 
# print(data)
# X.shape
# len(target)

Index([' Destination Port', ' Flow Duration', ' Total Fwd Packets',
       ' Total Backward Packets', 'Total Length of Fwd Packets',
       ' Fwd Packet Length Max', ' Fwd Packet Length Min',
       ' Fwd Packet Length Mean', ' Fwd Packet Length Std',
       'Bwd Packet Length Max', ' Bwd Packet Length Min',
       ' Bwd Packet Length Mean', ' Bwd Packet Length Std', 'Flow Bytes/s',
       ' Flow Packets/s', ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max',
       ' Flow IAT Min', 'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std',
       ' Fwd IAT Max', ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Max',
       'Fwd PSH Flags', ' Fwd Header Length', ' Bwd Header Length',
       'Fwd Packets/s', ' Min Packet Length', ' Max Packet Length',
       ' Packet Length Mean', ' Packet Length Std', ' Packet Length Variance',
       'FIN Flag Count', ' PSH Flag Count', ' ACK Flag Count',
       ' URG Flag Count', ' Average Packet Size', ' Avg Fwd Segment Size',
       ' Avg Bwd Segment Size', ' Fwd Header Length.1', 'Subflow Fwd Packets',
       ' Subflow Fwd Bytes', ' Subflow Bwd Packets', ' Subflow Bwd Bytes',
       'Init_Win_bytes_forward', ' Init_Win_bytes_backward',
       ' act_data_pkt_fwd', ' min_seg_size_forward', 'Idle Mean', ' Idle Std',
       ' Idle Max', ' Idle Min'],
      dtype='object')

In [ ]:
# /string = ''
ll = []
sp = ' '
for index, row in X.iterrows():
    ll.append(
      str(row[' Flow Duration']) 
     + sp + str(row[' Total Fwd Packets'])
     + sp + str(row[' Destination Port']) 
    #  + sp + str(row[' Flow Duration'])  
     + sp + str(row[' Total Fwd Packets']) 
     + sp + str(row[' Total Backward Packets']) 
     + sp + str(row['Total Length of Fwd Packets'])
    #  + sp + str(row[' Total Length of Bwd Packets'])
     + sp + str(row[' Fwd Packet Length Max'])
     + sp + str(row[' Fwd Packet Length Min'])
     + sp + str(row[' Fwd Packet Length Mean'])  
     + sp + str(row[' Fwd Packet Length Std' ])  
     + sp + str(row['Bwd Packet Length Max']) 
     + sp + str(row[' Bwd Packet Length Min']) 
     + sp + str(row[' Bwd Packet Length Mean'])
     + sp + str(row[' Bwd Packet Length Std'])
     + sp + str(row['Flow Bytes/s']) 
     + sp + str(row[' Flow Packets/s'])    
     + sp + str(row[' Flow IAT Mean']) 
     + sp + str(row[' Flow IAT Std']) 
     + sp + str(row[' Flow IAT Max']) 
     + sp + str(row[' Flow IAT Min']) 
     + sp + str(row['Fwd IAT Total']) 
     + sp + str(row[' Fwd IAT Mean']) 
     + sp + str(row[' Fwd IAT Std']) 
     + sp + str(row[' Fwd IAT Max']) 
     + sp + str(row[' Fwd IAT Min']) 
     + sp + str(row['Bwd IAT Total']) 
    #  + sp + str(row[' Bwd IAT Mean']) 
    #  + sp + str(row[' Bwd IAT Std']) 
     + sp + str(row[' Bwd IAT Max']) 
     + sp + str(row[' Bwd IAT Min']) 
     + sp + str(row['Fwd PSH Flags'])  
     + sp + str(row[' Fwd URG Flags']) 
     + sp + str(row[' Fwd Header Length']) 
     + sp + str(row[' Bwd Header Length']) 
     + sp + str(row['Fwd Packets/s']) 
     + sp + str(row[' Bwd Packets/s']) 
     + sp + str(row[' Min Packet Length']) 
     + sp + str(row[' Max Packet Length']) 
     + sp + str(row[' Packet Length Mean'])
     + sp + str(row[' Packet Length Std']) 
     + sp + str(row[' Packet Length Variance'])
     + sp + str(row['FIN Flag Count'])  
     + sp + str(row[' PSH Flag Count' ]) 
     + sp + str(row[' ACK Flag Count']) 
     + sp + str(row[' URG Flag Count']) 
    #  + sp + str(row[' Down/Up Ratio']) 
     + sp + str(row[' Average Packet Size'])  
     + sp + str(row[' Avg Fwd Segment Size']) 
     + sp + str(row[' Avg Bwd Segment Size']) 
     + sp + str(row[' Fwd Header Length.1']) 
     + sp + str(row['Subflow Fwd Packets'])       
     + sp + str(row[' Subflow Fwd Bytes'])        
     + sp + str(row[' Subflow Bwd Packets'])      
     + sp + str(row[' Subflow Bwd Bytes'])        
     + sp + str(row['Init_Win_bytes_forward'])    
     + sp + str(row[' Init_Win_bytes_backward']) 
     + sp + str(row[' act_data_pkt_fwd']) 
     + sp + str(row[' min_seg_size_forward'])
     + sp + str(row['Active Mean'])  
     + sp + str(row[' Active Std' ])  
     + sp + str(row[' Active Max']) 
     + sp + str(row[' Active Min']) 
     + sp + str(row['Idle Mean']) 
     + sp + str(row[' Idle Std']) 
     + sp + str(row[' Idle Max']) 
     + sp + str(row[' Idle Min'])
    )

    # print(string)
    # ll.append(string)

NameError: ignored

In [ ]:
X[' Bwd IAT Mean']

KeyError: ignored

In [ ]:
# string
# df.new_col = string
len(ll[3])
ll[1]

'1091550541091166666.00.0666.00.0110091.743118348.62385109.00.010910900.00.00000.00.0000020209174.3119269999999174.311926999999666.00.00.0001119.06.06.0201616292560200.00.0000.00.000'

In [ ]:
df['new']

In [ ]:
df.head(5)

    Destination Port   Flow Duration  ...   Idle Min   Label
0              54865               3  ...          0  BENIGN
1              55054             109  ...          0  BENIGN
2              55055              52  ...          0  BENIGN
3              46236              34  ...          0  BENIGN
4              54863               3  ...          0  BENIGN

[5 rows x 67 columns]